<template name="assayEdit">
  {{> assayBreadcrumb sample=sample}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'assay_update_title'}}
        <a class="pull-right" href="{{pathFor 'humidityNew' sample_id=sampleId}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Assays' id='editAssayForm' validation='blur' type='method' meteormethod='updateAssay' doc=..}}
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
              {{> afQuickField name='settlement' autofocus=true}}
              {{> afQuickField name='extended'}}
              {{> afQuickField name='temperature'}}
              {{> afQuickField name='otherAssay'}}
            </div>
            <div class="col-md-6">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headring-molding">
                  <a data-toggle="collapse" href="#molding" aria-expanded="true" aria-controls="molding">
                    {{_ 'assay_molding'}}
                  </a>
                </div>
                <div id="molding" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-molding">
                  <div class="panel-body">
                    {{> afQuickField name='designation'}}
                    {{> afQuickField name='testTubes'}}
                    {{> afQuickField name='ages'}}
                    {{> afQuickField name='cured'}}
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headring-others">
                  <a data-toggle="collapse" href="#others" aria-expanded="true" aria-controls="others">
                    {{_ 'assay_others'}}
                  </a>
                </div>
                <div id="others" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-others">
                  <div class="panel-body">
                    {{> afQuickField name='air'}}
                    {{> afQuickField name='weight'}}
                    {{> afQuickField name='hardenTime' type='datetime-local'}}
                  </div>
                </div>
              </div>

              {{> afQuickField name='observations' rows='5'}}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'assay_update'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
