<template name="formulaEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'formula_update_title'}}
        <a class="pull-right" href="{{pathFor 'formulas'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Formulas' id='editFormulaForm' validation='blur' type='method' meteormethod='updateFormula' doc=..}}
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='strengthId' options=strengthOptions firstOption=firstOptionForSelect autofocus=true}}
              {{> afQuickField name='settlementId' firstOption=firstOptionForSelect}}
              {{> afQuickField name='aggregateId' firstOption=firstOptionForSelect}}
              {{> afQuickField name='downloadId' firstOption=firstOptionForSelect}}
              {{> afQuickField name='coding'}}
              {{> afQuickField name='water'}}
              {{> afQuickField name='reducer'}}
            </div>
            <div class="col-md-6">
              {{> afQuickField name='concretes'}}
              {{> afQuickField name='sands'}}
              {{> afQuickField name='gravels'}}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'formula_update'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
