<template name="formula">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'formula'}}
        <a class="pull-right" href="{{pathFor 'formulas'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            {{_ 'strength'}} /
            <strong>{{strength}}</strong>
          </p>

          <p>
            {{_ 'settlement'}} /
            <strong>{{settlement}}</strong>
          </p>

          <p>
            {{_ 'aggregate'}} /
            <strong>{{aggregate}}</strong>
          </p>

          <p>
            {{_ 'download'}} /
            <strong>{{download}}</strong>
          </p>

          <p>
            {{_ 'formula_coding'}} /
            <strong>{{coding}}</strong>
          </p>

          <p>
            {{_ 'formula_water'}} /
            <strong>{{water}} l/m³</strong>
          </p>

          <p>
            {{_ 'formula_reducer'}} /
            <strong>{{reducer}} kg/m³</strong>
          </p>
        </div>

        <div class="col-md-6">
          <h5>{{_ 'formula_concretes'}}</h5>

          <dl class="dl-horizontal">
            {{#each concretes}}
              <dt>{{concreteName}}</dt>
              <dd>{{amount}} kg/m³</dd>
            {{/each}}
          </dl>

          <h5>{{_ 'formula_sands'}}</h5>

          <dl class="dl-horizontal">
            {{#each sands}}
              <dt>{{sandName}}</dt>
              <dd>{{amount}} kg/m³</dd>
            {{/each}}
          </dl>

          <h5>{{_ 'formula_gravels'}}</h5>

          <dl class="dl-horizontal">
            {{#each gravels}}
              <dt>{{gravelName}}</dt>
              <dd>{{amount}} kg/m³</dd>
            {{/each}}
          </dl>
        </div>
      </div>

      <a href="{{pathFor 'formulaEdit'}}" class="btn btn-default" title="{{_ 'formula_update_title'}}">
        {{_ 'formula_update_title'}}
      </a>
    </div>
  </div>
</template>
