<template name="formulas">
  {{#if formulas.count}}
    {{> formulasList}}
  {{else}}
    {{> formulasEmpty}}
  {{/if}}
</template>

<template name="formulasList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'formulas'}}
        <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{_ 'formula_coding'}}</th>
            <th class="hidden-xs">{{_ 'strength'}}</th>
            <th class="hidden-sm hidden-xs">{{_ 'download'}}</th>
            <th class="hidden-sm hidden-xs">{{_ 'aggregate'}}</th>
            <th class="hidden-sm hidden-xs">{{_ 'settlement'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each formulas}}
            <tr>
              <td><a href="{{pathFor 'formula'}}">{{coding}}</a></td>
              <td class="hidden-xs"><a href="{{pathFor 'formula'}}">{{strength strengthId}}</a></td>
              <td class="hidden-sm hidden-xs"><a href="{{pathFor 'formula'}}">{{download downloadId}}</a></td>
              <td class="hidden-sm hidden-xs"><a href="{{pathFor 'formula'}}">{{aggregate aggregateId}}</a></td>
              <td class="hidden-sm hidden-xs"><a href="{{pathFor 'formula'}}">{{settlement settlementId}}</a></td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <a class="btn btn-primary" href="{{pathFor 'formulaNew'}}">{{_ 'formula_new'}}</a>
    </div>
  </div>
</template>
