<template name="afArrayField_basic">
  <div data-cols="{{cols}}">
    {{#if afFieldIsInvalid name=this.name}}
      <div class="has-error">
        <span class="help-block">{{{afFieldMessage name=this.name}}}</span>
      </div>
    {{/if}}

    {{#afEachArrayItem name=this.name minCount=this.minCount maxCount=this.maxCount}}
      <div class="item-container" data-item-name="{{this.name}}">
        <div class="row basic">
          {{> afQuickField name=this.name template='basic'}}
        </div>

        {{#if afArrayFieldHasMoreThanMinimum name=../name minCount=../minCount maxCount=../maxCount}}
          <button type="button" class="btn btn-default btn-xs autoform-remove-item">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        {{/if}}
      </div>
    {{/afEachArrayItem}}

    {{#if afArrayFieldHasLessThanMaximum name=this.name minCount=this.minCount maxCount=this.maxCount}}
      <div class="clearfix">
        <button type="button" class="btn btn-sm btn-default pull-right autoform-add-item" data-autoform-field="{{this.name}}" data-autoform-minCount="{{this.minCount}}" data-autoform-maxCount="{{this.maxCount}}">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </div>
    {{/if}}
  </div>
</template>

<template name="afFormGroup_basic">
  <div class="col-md-{{cols}}" data-group-name="{{this.name}}">
    <div class="form-group small {{#if afFieldIsInvalid name=this.name}}has-error{{/if}}">
      {{#unless skipLabel}}
        <label {{bsFieldLabelAtts}}>
          {{#if this.labelText}}
            {{this.labelText}}
          {{else}}
            {{afFieldLabelText name=this.name}}
          {{/if}}
        </label>
      {{/unless}}
      {{#if this.afFieldInputAtts.unit}}
        <div class="input-group">
          {{> afFieldInput this.afFieldInputAtts}}
          <div class="input-group-addon">{{this.afFieldInputAtts.unit}}</div>
        </div>
      {{else}}
        {{> afFieldInput this.afFieldInputAtts}}
      {{/if}}
      <span class="help-block">{{{afFieldMessage name=this.name}}}</span>
    </div>
  </div>
</template>
