<template name="afFormGroup_measure">
  <div class="form-group{{#if afFieldIsInvalid name=this.atts.name}} has-error{{/if}}">
    {{#unless skipLabel}}
      <label {{bsFieldLabelAtts}}>
        {{#if this.labelText}}{{this.labelText}}{{else}}{{afFieldLabelText name=this.atts.name}}{{/if}}
      </label>
    {{/unless}}

    <div class="input-group">
      {{> afFieldInput this.afFieldInputAtts}}
      <div class="input-group-addon">{{this.afFieldInputAtts.unit}}</div>
    </div>
    <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
  </div>
</template>
