<template name="graphics">
  <div class="row">
    <div class="col-lg-3">
      <h3>{{_ 'graphic_fresh_concrete'}}</h3>

      <a href="{{pathFor 'graphicFreshConcreteConsistency'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_consistency'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteTemperature'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_temperature'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteTemperatureComparison'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_temperature_comparison'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteVolumetricWeight'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_volumetric_weight'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteSettlement'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_settlement_title'}}
      </a>
      <a href="{{pathFor 'statsForSamples'}}" class="btn btn-default btn-block">
        {{_ 'stats_for_samples'}}
      </a>
    </div>

    <div class="col-lg-3">
      <h3>{{_ 'graphic_hardened_concrete'}}</h3>

      <a href="{{pathFor 'graphicHardenedConcreteResistance'}}" class="btn btn-default btn-block">
        {{_ 'graphic_hardened_concrete_resistance'}}
      </a>
      <a href="{{pathFor 'graphicHardenedConcreteCusum'}}" class="btn btn-default btn-block">
        {{_ 'graphic_hardened_concrete_cusum'}}
      </a>
      <a href="{{pathFor 'graphicHardenedConcrete3DaysResistance'}}" class="btn btn-default btn-block">
        {{_ 'graphic_hardened_concrete_3_days_resistance'}}
      </a>
      <a href="{{pathFor 'graphicHardenedConcrete7DaysResistance'}}" class="btn btn-default btn-block">
        {{_ 'graphic_hardened_concrete_7_days_resistance'}}
      </a>
      <a href="{{pathFor 'customers'}}" class="btn btn-default btn-block">
        {{_ 'stats_resistance_by_customer'}}
      </a>
    </div>

    <div class="col-lg-3">
      <h3>{{_ 'graphic_aggregates'}}</h3>

      <a href="{{pathFor 'graphicAggregateFineness'}}" class="btn btn-default btn-block">
        {{_ 'graphic_aggregate_fineness'}}
      </a>
      <a href="{{pathFor 'graphicAggregateThin'}}" class="btn btn-default btn-block">
        {{_ 'graphic_aggregate_thin'}}
      </a>
      <a href="{{pathFor 'graphicAggregateHumidity'}}" class="btn btn-default btn-block">
        {{_ 'graphic_aggregate_humidity'}}
      </a>
    </div>

    <div class="col-lg-3">
      <h3>{{_ 'graphic_deviation'}}</h3>

      <a href="{{pathFor 'graphicConcreteEfficiency'}}" class="btn btn-default btn-block">
        {{_ 'graphic_deviation_efficiency_title'}}
      </a>
    </div>
  </div>
</template>
