<template name="menu">
  <div class="navbar navbar-default navbar-fixed-top hide-on-pdf-export" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand hidden-sm" href="{{pathFor 'root'}}">
          <img src="/logo.png" alt="{{_ 'app_name'}}">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li class="{{activeRouteClass 'samples' 'sample' 'sampleNew' 'sampleEdit'}}">
              <a href="{{pathFor 'samples'}}">{{{_ 'menu_samples'}}}</a>
            </li>
            <li class="{{activeRouteClass 'cracks' 'crack' 'crackEdit' 'cracksCracked'}}">
              <a href="{{pathFor 'cracks'}}">
                {{{_ 'menu_cracks'}}}
                {{#if overdueCracks}}
                  <span class="badge" title="{{_ 'crack_overdue' count=overdueCracks}}">{{overdueCracks}}</span>
                {{/if}}
              </a>
            </li>
            <li class="{{activeRouteClass 'granulometries' 'granulometry' 'granulometryNew' 'granulometryEdit'}}">
              <a href="{{pathFor 'granulometries'}}">{{{_ 'menu_granulometries'}}}</a>
            </li>
            <li class="{{activeRouteClass 'maintenances' 'maintenance' 'maintenanceNew' 'maintenanceEdit' 'maintenanceReports' 'maintenanceStatus' 'maintenanceMasterList'}}">
              <a href="{{pathFor 'maintenances'}}">
                {{{_ 'menu_maintenances'}}}
                {{#if nextToOverdueMaintenances}}
                  <span class="label {{#if overdueMaintenances}}label-danger{{else}}label-warning{{/if}}">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                  </span>
                  &nbsp;
                {{/if}}
              </a>
            </li>
						<li class="{{activeRouteClass 'nonconformities' 'nonconformitiesClosed' 'nonconformityNew' 'nonconformity' 'nonconformityEdit' 'complaints' 'complaintNew' 'complaint' 'complaintEdit' }}">
							<a href="{{pathFor 'nonconformities' }}">{{{_ 'menu_nonconformities'}}}</a>
						</li>
            <li class="{{activeRouteClass 'documents' 'document' 'documentNew' 'documentEdit' 'managementDocuments' 'managementDocument' 'managementDocumentNew' 'managementDocumentEdit'}}">
              <a href="{{pathFor 'managementDocuments' }}">{{{_ 'menu_documents'}}}</a>
            </li>
            {{#if isInRole 'admin'}}
              <li class="{{activeRouteClass 'stats' 'graphics'}}">
                <a href="{{pathFor 'stats'}}">{{{_ 'menu_stats'}}}</a>
              </li>

              {{> menuConfig}}
            {{/if}}
          </ul>

          {{> menuUser}}
        {{/if}}
      </div>
    </div>
  </div>
</template>
