<template name="nctypes">
  {{#if types.count}}
    {{> ncTypesList}}
  {{else}}
    {{> ncTypesEmpty}}
  {{/if}}
</template>

<template name="ncTypesList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'nctypes'}}
        <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{_ 'nctype_name'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        {{#each types}}
          <tr class="visible-on-hover-parent">
            <td><a href="{{pathFor 'nctype'}}">{{name}}</a></td>
            <td class="text-right">
              <a class="btn btn-sm btn-default visible-on-hover" href="{{pathFor 'nctypeEdit'}}" title="{{_ 'edit'}}">
                {{_ 'edit'}}
              </a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</template>
