<template name="nctypeNewForNonconformity">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'nctype_create_title'}}
          <a class="pull-right" href="{{pathFor 'nonconformityNew'}}" data-cancel>{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='NcTypes' id='newNcTypeForNonconformityForm' type='method' meteormethod='createNcTypeFromNonconformity'}}
          <fieldset>
            {{> afQuickField name='name' autofocus=true placeholder=namePlaceholder}}
          </fieldset>
          <button type="submit" class="btn btn-primary">{{_ 'nctype_create'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
