<template name="formulaSearch">
  <div class="form-group {{#if afFieldIsInvalid name='formulaId'}}has-error{{/if}}">
    <label class="control-label" for="formula-search">{{_ 'formula'}}</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      {{> inputAutocomplete settings=settings value=formula id='formula-search' class='form-control' autocomplete='off' placeholder=placeholder}}
    </div>
  </div>
</template>

<template name="formulaPill">
  <div>{{coding}}</div>
</template>

<template name="emptyFormulaPill">
  <div>{{_ 'formula_search_empty'}} <kbd>{{getFilter}}</kbd></div>
</template>
