<template name="menu">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'root'}}">
          <img src="/logo.png" alt="{{_ 'app_name'}}">
        </a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li class="{{activeRouteClass 'samples' 'sample' 'sampleNew' 'sampleEdit'}}">
              <a href="{{pathFor 'samples'}}">{{_ 'samples'}}</a>
            </li>
            <li class="{{activeRouteClass 'cracks' 'crack' 'crackNew' 'crackEdit'}}">
              <a href="{{pathFor 'cracks'}}">
                {{_ 'cracks'}}
                {{#if overdueCracks}}
                  <span class="badge" title="{{_ 'crack_overdue' count=overdueCracks}}">{{overdueCracks}}</span>
                {{/if}}
              </a>
            </li>

            {{> menuConfig}}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <img class="navbar-brand hidden-sm hidden-xs" src="/logo_exit.gif" alt="{{_ 'app_name'}}">
            </li>
            <li>
              <a href="#" data-logout>{{_ 'logout'}}</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</template>
