<template name="menu">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{pathFor 'root'}}">{{_ 'app_name'}}</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        {{#if currentUser}}
          <ul class="nav navbar-nav">
            <li class="{{activeRouteClass 'samples' 'sample' 'sampleNew' 'sampleEdit'}}">
              <a href="{{pathFor 'samples'}}">{{_ 'samples'}}</a>
            </li>
            <li class="{{activeRouteClass 'responsibleIndex' 'responsible' 'responsibleNew' 'responsibleEdit'}}">
              <a href="{{pathFor 'responsibleIndex'}}">{{_ 'responsible_plural'}}</a>
            </li>
            <li class="{{activeRouteClass 'customers' 'customer' 'customerNew' 'customerEdit'}}">
              <a href="{{pathFor 'customers'}}">{{_ 'customers'}}</a>
            </li>
            <li class="{{activeRouteClass 'works' 'work' 'workNew' 'workEdit'}}">
              <a href="{{pathFor 'works'}}">{{_ 'works'}}</a>
            </li>
            <li class="{{activeRouteClass 'plants' 'plant' 'plantNew' 'plantEdit'}}">
              <a href="{{pathFor 'plants'}}">{{_ 'plants'}}</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#" data-logout>{{_ 'logout'}}</a>
            </li>
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</template>
