<template name="requestNew">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'request_create_title'}}
          <a class="pull-right" href="{{pathFor 'requests'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='Requests' id='newRequestForm' type='method' meteormethod='createRequest'}}
          <fieldset>
            {{> afQuickField name='day' autofocus=true}}
            {{> afQuickField name='molding' options=moldingOptions firstOption=firstOptionForSelect}}
            {{> afQuickField name='date'}}
            {{> afQuickField name='paston'}}
            {{> afQuickField name='receipt'}}
            {{> afQuickField name='concreteType'}}
            <div class="form-group">
              <label class="control-label" for="customer-id">{{_ 'customer'}}</label>
              <select class="form-control" name="customerId" id="customer-id">
                <option value="">{{firstOptionForSelect}}</option>
                {{#each customerOptions}}
                  <option value="{{value}}">{{label}}</option>
                {{/each}}
              </select>
            </div>
            {{> afQuickField name='workId' options=workOptions firstOption=firstOptionForSelect}}
            {{> afQuickField name='plantId' options=plantOptions firstOption=firstOptionForSelect}}
            {{> afQuickField name='vehicle'}}
            {{> afQuickField name='volume'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">{{_ 'request_create'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
