<template name="request">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'request'}}
          <a href="{{pathFor 'requestEdit'}}" title="{{_ 'request_update_title'}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="pull-right" href="{{pathFor 'requests'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'request_day'}} /
          <strong>{{day}}</strong>
        </p>

        <p>
          {{_ 'request_molding'}} /
          <strong>{{molding}}</strong>
        </p>

        <p>
          {{_ 'request_date'}} /
          <strong>{{l date}}</strong>
        </p>

        <p>
          {{_ 'request_paston'}} /
          <strong>{{paston}}</strong>
        </p>

        <p>
          {{_ 'request_receipt'}} /
          <strong>{{receipt}}</strong>
        </p>

        <p>
          {{_ 'request_concrete_type'}} /
          <strong>{{concreteType}}</strong>
        </p>

        <p>
          {{_ 'customer'}} /
          <strong>{{customer}}</strong>
        </p>

        <p>
          {{_ 'work'}} /
          <strong>{{work}}</strong>
        </p>

        <p>
          {{_ 'plant'}} /
          <strong>{{plant}}</strong>
        </p>

        <p>
          {{_ 'request_vehicle'}} /
          <strong>{{vehicle}}</strong>
        </p>

        <p>
          {{_ 'request_volume'}} /
          <strong>{{volume}}</strong>
        </p>
      </div>
    </div>
  </div>
</template>
