<template name="_humidityEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'humidity_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'concreteNew' sample_id=humidity.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Humidities' id='editHumidityForm' validation='blur' type='method' meteormethod='updateHumidity' doc=humidity}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='incorporated' autofocus=true}}
            </div>
            <div class="col-md-6 bottom">
              <div class="row">
                <div class="col-xs-4">
                  {{> afQuickField name='hasIce'}}
                </div>
                {{#if afFieldValueIs name='hasIce' value=true}}
                  <div class="col-xs-8">
                    {{> afQuickField name='ice' label=false}}
                  </div>
                {{/if}}
              </div>
            </div>
          </div>
          {{> afQuickField name='inTruck'}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'humidity_aggregates'}}
            </div>
            <div class="panel-body">
              {{> afQuickField name='hSands'}}
              {{> afQuickField name='hGravels'}}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              {{> afQuickField name='ratio'}}
            </div>
            <div class="col-lg-6">
              {{> afQuickField name='flowmeterCorrection'}}
            </div>
          </div>
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'humidity_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
