<template name="_humidityNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'humidity_create_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'concreteNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Humidities' id='newHumidityForm' validation='blur' type='method' meteormethod='createHumidity' doc=..}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
          {{> afQuickField name='incorporated' autofocus=true}}
          <div class="checkbox">
            <label>
              <input type="checkbox" name="toggleIce"> {{_ 'humidity_ice'}}
            </label>
          </div>
          {{> afQuickField name='ice' label=false class='hidden'}}
          {{> afQuickField name='inTruck'}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'humidity_aggregates'}}
            </div>
            <div class="panel-body">
              {{> afQuickField name='hSands'}}
              {{> afQuickField name='hGravels'}}
            </div>
          </div>
          {{> afQuickField name='flowmeterCorrection' readonly=true}}
          {{> afQuickField name='ratio' readonly=true}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'humidity_create'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
