<template name="humidity">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'humidity'}}
        <a href="{{pathFor 'humidityEdit'}}" title="{{_ 'humidity_update_title'}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'humidity_incorporated'}} /
        <strong>{{incorporated}}</strong>
      </p>

      <p>
        {{_ 'humidity_ice'}} /
        <strong>{{ice}}</strong>
      </p>

      <p>
        {{_ 'humidity_in_truck'}} /
        <strong>{{inTruck}}</strong>
      </p>

      <h5>{{_ 'humidity_aggregates'}}</h5>

      <dl class="dl-horizontal">
        {{#each hSands}}
          <dt>{{sandName}}</dt>
          <dd>{{amount}} ({{absorption}}%)</dd>
        {{/each}}

        {{#each hGravels}}
          <dt>{{gravelName}}</dt>
          <dd>{{amount}} ({{absorption}}%)</dd>
        {{/each}}
      </dl>

      <p>
        {{_ 'humidity_ratio'}} /
        <strong>{{ratio}}</strong>
      </p>
    </div>
  </div>
</template>
