<template name="humidity">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'humidity'}}
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'humidity_incorporated'}} /
        <strong>{{incorporated}} l/m³</strong>
      </p>

      <p>
        {{_ 'humidity_ice'}} /
        <strong>{{ice}}</strong>
      </p>

      <p>
        {{_ 'humidity_in_truck'}} /
        <strong>{{inTruck}}</strong>
      </p>

      <h5>{{_ 'humidity_aggregates'}}</h5>

      <dl class="dl-horizontal">
        {{#each hSands}}
          <dt>{{sandName}}</dt>
          <dd>{{amount}} kg/m³ ({{absorption}}%)</dd>
        {{/each}}

        {{#each hGravels}}
          <dt>{{gravelName}}</dt>
          <dd>{{amount}} kg/m³ ({{absorption}}%)</dd>
        {{/each}}
      </dl>

      <p>
        {{_ 'humidity_ratio'}}

        {{#if this.inTruck}}
          <strong>{{_ 'humidity_cannot_calculate_ratio'}}</strong>
        {{else}}
          <strong>{{ratio}}</strong>
        {{/if}}
      </p>

      <a href="{{pathFor 'humidityEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'humidity_update_title'}}">
        {{_ 'edit'}}
      </a>
    </div>
  </div>
</template>
