<template name="samples">
  {{#if showList}}
    {{> samplesList}}
  {{else}}
    {{> samplesEmpty}}
  {{/if}}
</template>

<template name="samplesList">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'samples'}}
        <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <a class="btn btn-xs btn-default pull-right" href="{{pathFor 'sampleNew'}}">{{_ 'sample_new'}}</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>{{_ 'sample'}}</th>
            <th>{{_ 'sample_date'}}</th>
            <th class="hidden-xs">{{_ 'plant'}}</th>
            <th class="hidden-xs hidden-sm">{{_ 'customer'}}</th>
            <th class="hidden-xs">{{_ 'sample_molding'}}</th>
            <th class="text-right">
              <a href="#search-filter" title="{{_ 'search'}}" data-toggle="collapse" data-search>
                <span class="glyphicon glyphicon-search"></span>
              </a>
              <a class="hidden" href="{{pathFor 'samples'}}" title="{{_ 'cancel'}}" data-search-clean>
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </th>
          </tr>

          <tr class="collapse" id="search-filter">
            <td class="form-group form-group-sm">
              <input class="form-control" type="text" name="name" id="name">
            </td>
            <td class="form-group form-group-sm">
              <input class="form-control" type="text" name="date" id="date">
            </td>
            <td class="hidden-xs form-group form-group-sm">
              <input class="form-control" type="text" name="plant" id="plant">
            </td>
            <td class="hidden-xs hidden-sm form-group form-group-sm">
              <input class="form-control" type="text" name="customer" id="customer">
            </td>
            <td class="hidden-xs form-group form-group-sm">
              <select class="form-control" name="molding" id="molding">
                <option value="">{{_ 'graphic_filter_all'}}</option>
                {{#each moldingOptions}}
                  <option value="{{value}}">{{label}}</option>
                {{/each}}
              </select>
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm btn-block" data-action="search">
                {{_ 'search'}}
              </button>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each samples}}
            <tr>
              <td><a href="{{pathFor 'sample'}}">{{name}}</a></td>
              <td><a href="{{pathFor 'sample'}}">{{l date}}</a></td>
              <td class="hidden-xs"><a href="{{pathFor 'sample'}}">{{plant}}</a></td>
              <td class="hidden-xs hidden-sm"><a href="{{pathFor 'sample'}}">{{customer}}</a></td>
              <td class="hidden-xs"><a href="{{pathFor 'sample'}}">{{moldingText}}</a></td>
              <td></td>
            </tr>
          {{else}}
            <tr>
              <td colspan="5">
                <div class="alert alert-info">
                  {{_ 'search_with_no_results'}}
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      {{#if nextPath}}
        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <a class="btn btn-default btn-xs btn-block" href="{{nextPath}}">{{_ 'more'}}</a>
          </div>
        </div>

        <br>
      {{else}}
        {{#unless ready}}{{> spinner}}{{/unless}}
      {{/if}}

      <a class="btn btn-primary" href="{{pathFor 'sampleNew'}}">{{_ 'sample_new'}}</a>
    </div>
  </div>
</template>
