<template name="nonconformityNew">
	<div class="row text-center">
		<h4>{{_ 'nonconformity_title'}}</h4>
	</div>
	<div class="row">
		{{#autoForm collection='Nonconformities' id='newNonconformityForm' type='method' validation='blur' meteormethod='createNonconformity' doc=compaction}}
			<div class="row">
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{_ 'nonconformity_new'}}
								<a class="pull-right" href="{{pathFor 'nonconformities'}}">{{_ 'go_back'}}</a>
							</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='date'}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='responsibleId'}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='code'}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												{{_ 'nonconformity_areas'}}
											</div>
											<div class="panel-body">
												{{> afQuickField name='areas'}}
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												{{_ 'nonconformity_origins'}}
											</div>
											<div class="panel-body">
												{{> afQuickField name='origins'}}
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												{{_ 'nonconformity_types'}}
											</div>
											<div class="panel-body">
												{{> afQuickField name='types'}}
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												{{_ 'nonconformity_involved_areas'}}
											</div>
											<div class="panel-body">
												{{> afQuickField name='involvedAreas'}}
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='character'}}
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
				<div class="col-md-6">
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-md-12">
										<div class="panel panel-default">
											<div class="panel-heading">
												{{_ 'nonconformity_action'}}
											</div>
											<div class="panel-body">
												{{> afQuickField name='actionDescription'}}
												{{> afQuickField name='actionDate'}}
												{{> afQuickField name='actionResponsibleId'}}
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='causes'}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='solution'}}
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">{{_ 'nonconformity_create'}}</button>
			</div>
		{{/autoForm}}
	</div>
</template>
