<template name="afArrayField_solutions1">
  {{#if afFieldIsInvalid name=this.atts.name}}
    <div class="has-error">
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
    </div>
  {{/if}}

	<div class="table-responsive">
		<table class="table table-condensed table-hover table-no-margin">
			<thead>
			<tr>
				<th class="col-md-1">{{_ 'nonconformity_solutions_number'}}</th>
				<th class="col-md-2">{{_ 'nonconformity_solutions_type'}}</th>
				<th class="col-md-2">{{_ 'nonconformity_solutions_date'}}</th>
				<th class="col-md-4">{{_ 'nonconformity_solutions_desc'}}</th>
				<th class="col-md-2">{{_ 'nonconformity_solutions_resp'}}</th>
				<th class="col-md-1">&nbsp;</th>
			</tr>
			</thead>
			<tbody>


			{{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
				<tr>
					<th class="col-md-1">{{_ 'nonconformity_solutions_number_val'}} {{this.current.number.value}}</th>
					<td class="col-md-2">{{> afQuickField name=this.current.type template='basic'}}</td>
					<td class="col-md-2">{{> afQuickField name=this.current.date template='basic'}}</td>
					<td class="col-md-4">{{> afQuickField name=this.current.description template='basic'}}</td>
					<td class="col-md-2">{{> afQuickField name=this.current.responsibles template='basic'}}</td>
					<td class="col-md-1">
						<button type="button" class="btn btn-primary autoform-remove-item"><span class="glyphicon glyphicon-minus"></span></button>
					</td>
				</tr>
			{{/afEachArrayItem}}

			</tbody>
		</table>
	</div>

	{{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
		<div class="clearfix">
			<div class="pull-right">
				<button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}">{{_ 'nonconformity_add_solutions'}}</button>
			</div>
		</div>
	{{/if}}
</template>
