<template name="_sampleEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'sample_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'sample' _id=sample._id}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Samples' id='editSampleForm' type='method-update' validation='blur' meteormethod='updateSample' doc=sample}}
        {{#unless disabled}}
          <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-xs pull-right">{{_ 'sample_update'}}</button>
          </div>
        {{/unless}}
        <fieldset disabled={{disabled}}>
          {{> afQuickField name='name'}}
          {{> afQuickField name='plantId' options=plantOptions}}
          {{> afQuickField name='responsibleId' options=responsibleOptions}}
          {{> afQuickField name='molding'}}
          {{> afQuickField name='date'}}
          <div class="row">
            <div class="col-md-6">{{> afQuickField name='temperature'}}</div>
            <div class="col-md-6">{{> afQuickField name='humidity'}}</div>
          </div>
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'sample_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
