<template name="_sample">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'sample'}}
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'sample_name'}} / <strong>{{name}}</strong>
      </p>

      <p>
        {{_ 'plant'}} / <strong>{{plant}}</strong>
      </p>

      <p>
        {{_ 'responsible'}} / <strong>{{responsible}}</strong>
      </p>

      <p>
        {{_ 'sample_molding'}} / <strong>{{molding}}</strong>
      </p>

      <p>
        {{_ 'sample_date'}} / <strong>{{l date}}</strong>
      </p>

      <p>
        {{_ 'sample_temperature'}} / <strong>{{temperature}}</strong>
      </p>

      <p>
        {{_ 'sample_humidity'}} / <strong>{{humidity}}</strong>
      </p>

      <a href="{{pathFor 'sampleEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'sample_update_title'}}">
        {{_ 'edit'}}
      </a>
    </div>
  </div>
</template>
