<template name="sample">
  <p class="clearfix">
    {{> sampleActions}}
  </p>

  <div class="row">
    <div class="col-md-6">
      {{> _sample sample}}
    </div>

    {{#if sample.getReceipt}}
      <div class="col-md-6">
        {{> receipt sample.getReceipt}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sample.getConcrete}}
      <div class="col-md-6">
        {{> concrete sample.getConcrete}}
      </div>
    {{/if}}
    {{#if sample.getHumidity}}
      <div class="col-md-6">
        {{> humidity sample.getHumidity}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sample.getAssay}}
      <div class="col-md-12">
        {{> assay sample.getAssay}}
      </div>
    {{/if}}
  </div>

  <p class="clearfix">
    {{> sampleActions}}
  </p>
</template>
