<template name="additivesEmpty">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'additives'}}
        <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <h3>{{_ 'additive_empty_title'}}</h3>
      <p>{{_ 'additive_empty_banner'}}</p>
      <a class="btn btn-default pull-right" href="{{pathFor 'parameterAdditiveNew'}}" title="{{_ 'additive_new'}}">
        {{_ 'additive_new'}}
      </a>
    </div>
  </div>
</template>
