<template name="_receiptEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'receipt_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'sampleEdit' _id=receipt.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Receipts' id='editReceiptForm' validation='blur' type='method-update' meteormethod='updateReceipt' doc=receipt}}
        {{#unless disabled}}
          <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-xs pull-right">{{_ 'receipt_update'}}</button>
          </div>
        {{/unless}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' type='hidden'}}
          {{> customerSearch customer=customer}}
          {{> workSearch work=work}}
          {{> truckSearch truck=truck truckDriver=receipt.truckDriver}}
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='number'}}
            </div>
            <div class="col-md-6">
              {{> afQuickField name='volume'}}
            </div>
          </div>
          {{> afQuickField name='surplus'}}

          {{#if afFieldValueIs name='surplus' value=true}}
            {{> afQuickField name='surplusComment'}}
          {{else}}
            {{> afFieldInput name='surplusComment' type='hidden' value=''}}
          {{/if}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'receipt_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
