<template name="receipt">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'receipt'}}
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'customer'}} /
        <strong>{{customer}}</strong>
      </p>

      <p>
        {{_ 'work'}} /
        <strong>{{work}}</strong>
      </p>

      <p>
        {{_ 'truck'}} /
        <strong>{{truck}}</strong>
      </p>

      <p>
        {{_ 'truck_driver'}} /
        <strong>{{truckDriver}}</strong>
      </p>

      <p>
        {{_ 'receipt_number'}} /
        <strong>{{number}}</strong>
      </p>

      <p>
        {{_ 'receipt_volume'}} /
        {{#if volume}}<strong>{{volume}} m³</strong>{{/if}}
      </p>

      <p>
        {{_ 'receipt_surplus'}} /
        <strong>{{surplus}}</strong>
      </p>

      <a href="{{pathFor 'receiptEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'receipt_update_title'}}">
        {{_ 'edit'}}
      </a>
    </div>
  </div>
</template>
