<template name="workSearch">
  <div class="form-group {{#if afFieldIsInvalid name='workId'}}has-error{{/if}}">
    <label class="control-label" for="work-search">{{_ 'work'}}</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      {{> inputAutocomplete settings=settings value=work id='work-search' class='form-control' autocomplete='off' placeholder=placeholder}}
      {{> afFieldInput name='workId' type='hidden'}}
    </div>
    <span class="help-block">{{{afFieldMessage name='workId'}}}</span>
  </div>
</template>

<template name="workPill">
  <div>{{name}}</div>
</template>

<template name="emptyWorkPill">
  <div>{{_ 'work_search_empty'}} <kbd>{{getFilter}}</kbd></div>
  {{#if showNewOnEmpty}}
    <div><a href="#" class="btn btn-xs btn-default pull-right" data-new-work>{{_ 'work_new'}}</a></div>
  {{/if}}
</template>
