<template name="crack">
  {{#if stressErrorExceeded}}
    <div class="alert alert-danger text-center">
      <strong>{{_ 'crack_stress_error_exceeded'}}</strong>
    </div>
  {{/if}}

  {{#each cracks}}
    {{> _crack}}
  {{/each}}

  {{#if showStressAverageInfo}}
    <div class="panel {{stressPanelClass}}">
      <div class="panel-heading">
        <h3 class="panel-title">{{labelStressAverage}}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <p>
              {{labelStressAverage}} /
              <strong>{{stressAverage}} MPa</strong>
            </p>
          </div>
          <div class="col-md-6">
            <p class="{{stressErrorClass}}">
              {{_ 'crack_stress_error'}} /
              <strong>{{stressError}}%</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>
