<template name="_sampleEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'sample_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'sample' _id=sample._id}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Samples' id='editSampleForm' type='method' meteormethod='updateSample' doc=sample}}
        <fieldset disabled={{disabled}}>
          {{> afQuickField name='plantId' options=plantOptions autofocus=true firstOption=false}}
          {{> afQuickField name='responsibleId' options=responsibleOptions firstOption=false}}
          {{> afQuickField name='molding' options=moldingOptions firstOption=false}}
          {{> afQuickField name='date' type='datetime-local'}}
          {{> afQuickField name='temperature'}}
          {{> afQuickField name='humidity'}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'sample_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
