<template name="_sampleNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'sample_create_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Samples' id='newSampleForm' type='method' validation='blur' meteormethod='createSample' doc=sample}}
        <fieldset disabled={{disabled}}>
          {{> afQuickField name='name'}}
          {{> afQuickField name='plantId'}}
          {{> afQuickField name='responsibleId'}}
          {{> afQuickField name='molding'}}
          {{> afQuickField name='date'}}
          <div class="row">
            <div class="col-md-6">{{> afQuickField name='temperature'}}</div>
            <div class="col-md-6">{{> afQuickField name='humidity'}}</div>
          </div>
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'sample_create'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
