<template name="sample">
  <div class="row">
    <div class="col-md-6">
      {{> _sample ..}}
    </div>

    {{#if sampleReceipt}}
      <div class="col-md-6">
        {{> receipt sampleReceipt}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sampleConcrete}}
      <div class="col-md-6">
        {{> concrete sampleConcrete}}
      </div>
    {{/if}}
    {{#if sampleHumidity}}
      <div class="col-md-6">
        {{> humidity sampleHumidity}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sampleAssay}}
      <div class="col-md-12">
        {{> assay sampleAssay}}
      </div>
    {{/if}}
  </div>
</template>
