<template name="sample">
  <p class="clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-default" type="button" data-download-pdf>
        {{_ 'download_pdf'}}
        <span class="glyphicon glyphicon-file"></span>
      </button>
      <a href="{{pathFor 'sampleNew'}}" class="btn btn-sm btn-primary">{{_ 'sample_new'}}</a>
    </div>
  </p>

  <div class="row">
    <div class="col-md-6">
      {{> _sample sample}}
    </div>

    {{#if sampleReceipt}}
      <div class="col-md-6">
        {{> receipt sampleReceipt}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sampleConcrete}}
      <div class="col-md-6">
        {{> concrete sampleConcrete}}
      </div>
    {{/if}}
    {{#if sampleHumidity}}
      <div class="col-md-6">
        {{> humidity sampleHumidity}}
      </div>
    {{/if}}
  </div>

  <div class="row">
    {{#if sampleAssay}}
      <div class="col-md-12">
        {{> assay sampleAssay}}
      </div>
    {{/if}}
  </div>

  <p class="clearfix">
    <div class="pull-right">
      <button class="btn btn-sm btn-default" type="button" data-download-pdf>
        {{_ 'download_pdf'}}
        <span class="glyphicon glyphicon-file"></span>
      </button>
      <a href="{{pathFor 'sampleNew'}}" class="btn btn-sm btn-primary">{{_ 'sample_new'}}</a>
    </div>
  </p>
</template>
