<template name="plants">
  {{#if plants.count}}
    {{> plantsList}}
  {{else}}
    {{> plantsEmpty}}
  {{/if}}
</template>

<template name="plantsList">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'plants'}}
          <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{_ 'plant_name'}}</th>
              <th>{{_ 'plant_flowmeter_correction'}}</th>
            </tr>
          </thead>
          <tbody>
          {{#each plants}}
            <tr>
              <td><a href="{{pathFor 'plant'}}">{{name}}</a></td>
              <td><a href="{{pathFor 'plant'}}">{{flowmeterCorrection}}</a></td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{pathFor 'plantNew'}}">{{_ 'plant_new'}}</a>
      </div>
    </div>
  </div>
</template>
