<template name="customerCracks">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'customer_cracks_title' customer=customer.name}}
        <a class="pull-right" href="{{pathFor 'customers'}}">
          {{_ 'go_back'}}
        </a>
      </h3>
    </div>
    <div class="panel-body">
      <button class="btn btn-xs btn-default pull-right" type="button" data-download-pdf>
        {{_ 'download_pdf'}}
      </button>
      <table class="table table-hover" data-table="cracks">
        <thead>
          <tr>
            <th data-header>{{_ 'receipt'}}</th>
            <th data-header>{{_ 'work'}}</th>
            <th class="hidden-xs" data-header>{{_ 'crack_molding_in'}}</th>
            <th class="hidden-xs hidden-sm" data-header>{{_ 'crack_cracked_in'}}</th>
            <th class="hidden-xs hidden-sm" data-header>{{_ 'strength'}}</th>
            <th class="hidden-xs hidden-sm" data-header>{{_ 'crack_age'}}</th>
            <th class="hidden-xs hidden-sm" data-header>{{_ 'crack_stress'}}</th>
            <th class="text-right">
              <a href="#search-filter" title="{{_ 'search'}}" data-toggle="collapse" data-search>
                <span class="glyphicon glyphicon-search"></span>
              </a>
              <a class="hidden" href="{{pathFor 'customerCracks' _id=customer._id}}" title="{{_ 'cancel'}}" data-search-clean>
                <span class="glyphicon glyphicon-remove"></span>
              </a>
            </th>
          </tr>

          <tr class="collapse" id="search-filter">
            <td class="form-group form-group-sm">
              <input class="form-control" type="text" name="receipt" id="receipt">
            </td>
            <td class="form-group form-group-sm">
              <input class="form-control" type="text" name="work" id="work">
            </td>
            <td class="hidden-xs form-group form-group-sm">
              <input class="form-control" type="text" name="molding" id="molding">
            </td>
            <td class="hidden-xs hidden-sm form-group form-group-sm">
              <input class="form-control" type="text" name="cracked" id="cracked">
            </td>
            <td class="hidden-xs hidden-sm form-group form-group-sm">
              <input class="form-control" type="text" name="strength" id="strength">
            </td>
            <td class="hidden-xs hidden-sm form-group form-group-sm">
              <input class="form-control" type="text" name="age" id="age" disabled>
            </td>
            <td class="hidden-xs hidden-sm form-group form-group-sm">
              <input class="form-control" type="text" name="stress" id="stress">
            </td>
            <td>
              <button type="button" class="btn btn-default btn-sm btn-block" data-action="search">
                {{_ 'search'}}
              </button>
            </td>
          </tr>
        </thead>
        <tbody>
          {{#each cracks}}
            <tr class="visible-on-hover-parent {{trClass}}" data-row>
              {{#with receipt}}
                <td data-value>{{number}}</td>
                <td data-value>{{work}}</td>
              {{/with}}
              <td class="hidden-xs" data-value>{{l moldingIn 'L'}}</td>
              <td class="hidden-xs hidden-sm" data-value>{{l crackedIn 'L'}}</td>
              <td class="hidden-xs hidden-sm" data-value>{{strength}}</td>
              <td class="hidden-xs hidden-sm" data-value>{{age}}</td>
              <td class="hidden-xs hidden-sm" data-value>{{r stress 1}} MPa</td>
              <td>
                {{#if isHidden}}
                  <a href="#" class="visible-on-hover" title="{{_ 'customer_cracks_show'}}" data-show-on-pdf>
                    <span class="glyphicon glyphicon-eye-open"></span>
                  </a>
                {{else}}
                  <a href="#" class="visible-on-hover" title="{{_ 'customer_cracks_hide'}}" data-hide-on-pdf>
                    <span class="glyphicon glyphicon-eye-close"></span>
                  </a>
                {{/if}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="8">
                <div class="alert alert-info">
                  {{_ 'search_with_no_results'}}
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>

      <button class="btn btn-default btn-sm pull-right" type="button" data-download-pdf>
        {{_ 'download_pdf'}}
        <span class="glyphicon glyphicon-file"></span>
      </button>
    </div>
  </div>
</template>
