<template name="statsDeviation">
  <div class="panel panel-default">
    <div class="panel-body">
      {{#autoForm schema=filterSchema id='filterStatsDeviation' type='method' meteormethod='filterStatsDeviation' resetOnSuccess=false doc=filter}}
        <fieldset>
          <div class="row">
            <div class="col-md-4" data-filter>
              {{> afQuickField name='start'}}
            </div>
            <div class="col-md-4" data-filter>
              {{> afQuickField name='end'}}
            </div>
            <div class="col-md-4" data-filter>
              {{> afQuickField name='plantId'}}
            </div>
          </div>
          <div class="row">
            <div class="col-md-4" data-filter>
              {{> afQuickField name='strengthId' firstOption=false}}
            </div>
            <div class="col-md-4" data-filter>
              {{> afQuickField name='download'}}
            </div>
            <div class="col-md-4" data-filter>
              {{> afQuickField name='aggregateId'}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              {{> afQuickField name='settlementId'}}
            </div>
            <div class="col-md-4 bottom">
              {{> afQuickField name='tenPercentCriteria'}}
            </div>
            <div class="col-md-4">
              <button type="submit" class="btn btn-default btn-block">
                {{_ 'graphic_filter_apply'}}
              </button>
            </div>
          </div>
        </fieldset>
      {{/autoForm}}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{_ 'deviation'}} / {{strength.name}}</h3>
    </div>
    <div class="panel-body">
      {{#if enoughStresses}}
        <div class="pull-right">
          <button class="btn btn-sm btn-default" type="button" data-download-pdf>
            {{_ 'download_pdf'}}
            <span class="glyphicon glyphicon-file"></span>
          </button>
        </div>
      {{/if}}

      <p data-item>
        <span data-label>{{_ 'deviation_stresses_count'}} (n):</span>
        <strong data-value>{{stresses.length}}</strong>
      </p>

      {{#if enoughStresses}}
        <p data-item>
          <span data-label>{{_ 'deviation_mean_resistance'}} (f'cm):</span>
          <strong data-value>{{r meanResistance 1}} MPa</strong>
        </p>

        <p data-item>
          <span data-label>{{_ 'deviation_standard_deviation'}} (s):</span>
          <strong data-value>{{r standardDeviation 1}} MPa</strong>
        </p>

        <p data-item>
          <span data-label>{{_ 'deviation_resistance'}} (f'c):</span>
          <strong data-value>{{r resistance 1}} MPa</strong>
        </p>

        <p data-item>
          <span class="hidden" data-label>{{_ 'deviation_coefficient'}}:</span>
          {{_ 'deviation_coefficient'}} (ẟ):
          <strong data-value>{{r coefficient 1}}%</strong>
        </p>

        <table class="table table-hover table-condensed" data-table="cracks">
          <thead>
            <tr>
              <th>{{_ 'sample'}}</th>
              <th>{{_ 'crack_cracked_in'}}</th>
              <th>{{_ 'crack_stress'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each stresses}}
              <tr>
                <td>{{sample.name}}</td>
                <td>{{l crack.crackedIn 'L'}}</td>
                <td>{{r stress 1}} MPa</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <div class="alert alert-warning">
          {{_ 'deviation_not_enough_stresses'}}
        </div>
      {{/if}}
    </div>
  </div>
</template>
