<template name="statsIndicatorsDashboard">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        {{_ 'stats_indicators_dashboard'}}
      </h4>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-condensed table-hover">
          <thead>
            <tr>
              <th style="width: 24em;"></th>
              {{#each months}}
                <th>{{label}}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{> statsIndicatorsDashboardResistance7Days}}
            {{> statsIndicatorsDashboardDeviation}}
            {{> statsIndicatorsDashboardDeviationCoefficient}}
            {{> statsIndicatorsDashboardResistanceRatio}}
            {{> statsIndicatorsDashboardEfficiency}}
            {{> statsIndicatorsDashboardVolume}}
            {{> statsIndicatorsDashboardClaimsPercentage}}
            {{> statsIndicatorsDashboardNonconformPercentage}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  {{#if detailsTemplate}}
    {{> Template.dynamic template=detailsTemplate data=detailsTemplateData}}
  {{/if}}
</template>
