<template name="statsProductionIndicatorsConfiguration">
  {{> statsIndicatorsConfigurationDispatchedVolume}}
  {{> statsProductionIndicatorsConfigurationBusinessDays}}
  {{> statsProductionIndicatorsConfigurationAverageWorkedHours}}
  {{> statsProductionIndicatorsConfigurationExtraHours}}
  {{> statsProductionIndicatorsConfigurationAffectedTrucks}}

  {{> statsProductionIndicatorsConfigurationTrips}}
  {{> statsProductionIndicatorsConfigurationPumps}}
  {{> statsProductionIndicatorsConfigurationMaintenanceHours}}
  {{> statsProductionIndicatorsConfigurationTruckBreaks}}
  {{> statsProductionIndicatorsConfigurationPumpBreaks}}

  {{> statsProductionIndicatorsConfigurationTrucksNotAvailableForBreakage}}
  {{> statsProductionIndicatorsConfigurationTrucksNotAvailable}}
  {{> statsProductionIndicatorsConfigurationTripsRejected}}
  {{> statsProductionIndicatorsConfigurationReportedProblems}}
  {{> statsProductionIndicatorsConfigurationFailedDeliveries}}

  {{> statsProductionIndicatorsConfigurationTripsOutOfTime}}
  {{> statsProductionIndicatorsConfigurationAverageCycleTrip}}
  {{> statsProductionIndicatorsConfigurationAverageDownload}}
  {{> statsProductionIndicatorsConfigurationIndicators}}
</template>
