<template name="statsProductionIndicatorsConfiguration">
  {{> statsIndicatorsConfigurationDispatchedVolume}}
  {{> statsProductionIndicatorsConfigurationBusinessDays}}
  {{> statsProductionIndicatorsConfigurationAverageWorkedHours}}
  {{> statsProductionIndicatorsConfigurationExtraHours}}
  {{> statsProductionIndicatorsConfigurationAffectedTrucks}}
  {{> statsProductionIndicatorsConfigurationTrips}}
  {{> statsProductionIndicatorsConfigurationPumps}}
  {{> statsProductionIndicatorsConfigurationMaintenanceHours}}
  {{> statsProductionIndicatorsConfigurationTruckBreaks}}
  {{> statsProductionIndicatorsConfigurationPumpBreaks}}
  {{> statsProductionIndicatorsConfigurationTrucksNotAvailableForBreakage}}
  {{> statsProductionIndicatorsConfigurationTrucksNotAvailable}}
  {{> statsProductionIndicatorsConfigurationTripsRejected}}
  {{> statsProductionIndicatorsConfigurationReportedProblems}}
  {{> statsProductionIndicatorsConfigurationFailedDeliveries}}
  {{> statsProductionIndicatorsConfigurationTripsOnTime}}
  {{> statsProductionIndicatorsConfigurationAverageCycleTrip}}
  {{> statsProductionIndicatorsConfigurationIndicators}}
</template>
