.ct-chart {
  margin-bottom: 2em;
}

.ct-chart.ct-slim {
  margin-bottom: 0px;
}

.ct-chart .ct-series.only-points .ct-line {
  display: none;
}

.ct-chart .ct-series.only-line .ct-point {
  display: none;
}

.ct-label.ct-horizontal {
  transform-origin: 2em 7em;
  transform: rotate(-45deg);
}

.ct-label.ct-vertical.text-left {
  text-align: left;
}

.ct-chart .ct-series.dotted-a .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 5px 5px;
}

.ct-chart .ct-series.dotted-b .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 15px 10px 5px 10px;
}
