.ct-chart {
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.ct-chart.ct-slim {
  margin-bottom: 0px;
}

.ct-chart .ct-series.only-points .ct-line {
  display: none;
}

.ct-chart .ct-series.only-line .ct-point {
  display: none;
}

.ct-chart .ct-series.transparent-points .ct-point {
  opacity: 0;
}

.ct-granulometry .ct-label.ct-horizontal {
  transform-origin: 0em 12em;
  transform: rotate(-15deg);
}

.ct-resistance-evolution .ct-label.ct-horizontal {
  transform-origin: 1em 1em;
  transform: rotate(-25deg);
}

.ct-compaction .ct-label.ct-horizontal {
  transform-origin: 0em 5em;
  transform: rotate(0deg);
}

.ct-label.ct-horizontal {
  white-space: nowrap;
  transform-origin: 2em 7em;
  transform: rotate(-45deg);
}

.ct-chart.ct-short-labels .ct-label.ct-horizontal {
  transform-origin: 0em 3em;
  transform: rotate(-45deg);
}

.ct-label.ct-vertical.ct-start {
  display: table-cell;
  vertical-align: bottom;
  padding-top: 1em;
}

.ct-label.ct-vertical.text-left {
  text-align: left;
}

.ct-chart .ct-series.dotted-a .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 5px 5px;
}

.ct-chart .ct-series.dotted-b .ct-line {
  stroke-width: 2px;
  stroke-dasharray: 15px 10px 5px 10px;
}

.ct-axis-title {
  font-size: 1rem;
  fill: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}

.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #93c54b;
  color: #fff;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.chartist-tooltip:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid transparent;
  border-top-color: #93c54b;
}

.chartist-tooltip.tooltip-show {
  opacity: 1;
}
