body {
  padding-top: 80px;
  margin-bottom: 1em;
}

label {
  margin-bottom: 2px;
}

.bottom {
  padding-top: 20px;
}

.btn {
  line-height: 1.2;
}

.btn.btn-sm {
  line-height: 1.75;
}

.form-group {
  position: relative; /* Needed for date picker fields */
}

.form-control {
  height: 2em;
  padding: 3px 8px;
}

.form-group {
  margin-bottom: 8px;
}

.input-group-addon {
  padding: 3px 8px;
}

.item-container {
  position: relative;
}

.item-container .autoform-remove-item {
  position: absolute;
  top: 5px;
  right: -15px;
  padding: 0em .25em;
}

.jumbotron {
  padding: 12px 0px;
  margin-bottom: 10px;
}

.lowercase {
  text-transform: lowercase;
}

.navbar-brand {
  padding: 10px;
}

.panel {
  margin-bottom: 10px;
}

.panel .panel-heading,
.panel .panel-heading h3 {
  line-height: 1.2em;
}

.panel .panel-heading h3 {
  font-size: 13px;
  font-weight: bold;
}

.panel .panel-heading h3 a {
  font-size: 11px;
  font-weight: normal;
}

.row.slim,
.row.basic {
  padding: 0;
}

.row.slim .panel,
.row.basic .panel {
  margin-bottom: 0;
}

.row.slim .panel-body,
.row.basic .panel-body {
  padding: 0;
}

.row.slim .panel-default,
.row.basic .panel-default {
  border: none;
}

.visible-on-hover {
  visibility: hidden;
}

.visible-on-hover-parent:hover .visible-on-hover {
  visibility: visible;
}

[data-group-name$="_id"] {
  display: none;
}
