body {
  padding-top: 70px;
}

.btn {
  line-height: 1.2;
}

.form-control {
  height: auto;
  padding: 6px 8px;
}

.input-group-addon {
  padding: 6px 8px;
}

.item-container {
  position: relative;
}

.item-container .autoform-remove-item {
  position: absolute;
  top: 5px;
  right: -15px;
  padding: 0em .25em;
}

.navbar-brand {
  padding: 15px;
}

.row.slim {
  margin: 0;
  padding: 0;
}

.row.slim .panel {
  margin-bottom: 0px;
}

.row.slim .panel-body {
  padding: 5px 0;
}

.row.slim .panel-default {
  border: none;
}

[data-item-name="dosages.0"] .autoform-remove-item,
[data-item-name="dosages.1"] .autoform-remove-item {
  visibility: hidden;
}

[data-group-name$="_id"] {
  display: none;
}
