.pdf-export {
  background: #fff;
}

.pdf-export .show-on-pdf-export {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1200px;
}

.pdf-export .show-on-pdf-export .panel-default {
  border: none;
}

.pdf-export .show-on-pdf-export .panel .panel-heading {
  color: #333;
  border: none;
  background: transparent;
}

.pdf-export .hidden.but-show-on-pdf-export {
  display: inline-block !important;
}

.pdf-export .hide-on-pdf-export {
  display: none;
}
