<template name="granulometry">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'granulometry'}}: {{name}} / {{material}}
        <a class="pull-right" href="{{pathFor 'granulometries'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            {{_ 'responsible'}} /
            <strong>{{responsible}}</strong>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            {{_ 'granulometry_date'}} /
            <strong>{{l date 'L'}}</strong>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p>
            {{_ 'plant'}} /
            <strong>{{plant}}</strong>
          </p>
        </div>
        <div class="col-md-6">
          <p>
            {{_ 'granulometry_sample_weight'}} /
            <strong>{{this.sampleWeight}} g</strong>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{_ 'granulometry_humidity'}}</h3>
            </div>

            <div class="panel-body" data-humidity>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_humidity_container'}}</span> /
                <strong data-value>{{humidity.container}}</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_humidity_mass_of_container'}}</span> /
                <strong data-value>{{r humidity.massOfContainer}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_humidity_mass_of_wet_aggregate'}}</span> /
                <strong data-value>{{r humidity.massOfWetAggregate}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_humidity_mass_of_dry_aggregate'}}</span> /
                <strong data-value>{{r humidity.massOfDryAggregate}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_humidity_percentage'}}</span> /
                <strong data-value>{{r humidity.percentage 1}}%</strong>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">{{_ 'granulometry_thin'}}</h3>
            </div>

            <div class="panel-body" data-thin>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_thin_container'}}</span> /
                <strong data-value>{{thin.container}}</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_thin_mass_of_container'}}</span> /
                <strong data-value>{{r thin.massOfContainer}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_thin_mass_before_wash'}}</span> /
                <strong data-value>{{r thin.massBeforeWash}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_thin_mass_after_wash'}}</span> /
                <strong data-value>{{r thin.massAfterWash}} g</strong>
              </p>
              <p data-attribute>
                <span data-label>{{_ 'granulometry_thin_percentage'}}</span> /
                <strong data-value>{{r thin.percentage 1}}%</strong>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <p>
            {{_ 'granulometry_granulometry_weight'}} /
            <strong>{{r granulometryWeight}} g</strong>
          </p>
        </div>
        <div class="col-md-3">
          <p>
            {{_ 'granulometry_dried'}} /
            <strong>{{dried}}</strong>
          </p>
        </div>
        <div class="col-md-3">
          <p>
            {{_ 'granulometry_washed'}} /
            <strong>{{washed}}</strong>
          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{_ 'granulometry_test'}}</h3>
        </div>

        <div class="panel-body">
          <table class="table table-condensed table-hover" data-table="test">
            <thead>
              <tr>
                <th>{{_ 'granulometry_test_sieve'}}</th>
                {{#if sand}}
                  <th>{{_ 'granulometry_test_net_weight'}}</th>
                  <th>{{_ 'granulometry_test_gross_weight'}}</th>
                {{/if}}
                <th class="hidden-xs">{{_ 'granulometry_test_retained'}}</th>
                <th class="hidden-sm hidden-xs">{{_ 'granulometry_test_retained_total'}}</th>
                <th class="hidden-sm hidden-xs">{{_ 'granulometry_test_passed'}}</th>
                <th class="hidden-sm hidden-xs">% {{_ 'granulometry_test_passed'}}</th>
                <th class="hidden-sm hidden-xs">{{_ 'granulometry_test_retained_accumulated'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each test}}
                <tr>
                  <td>{{sieve}}</td>
                  {{#if sand}}
                    <td>{{r netWeight}} g</td>
                    <td>{{r grossWeight}} g</td>
                  {{/if}}
                  <td class="hidden-xs">{{r retained}} g</td>
                  <td class="hidden-sm hidden-xs">{{r retainedAccumulated}} g</td>
                  <td class="hidden-sm hidden-xs">{{r passed}} g</td>
                  <td class="hidden-sm hidden-xs">{{passedPercentage}}%</td>
                  <td class="hidden-sm hidden-xs">{{retainedAccumulatedPercentage}}%</td>
                </tr>
              {{/each}}

              <tr>
                {{#if sand}}
                  <td>{{_ 'granulometry_test_correction'}}</td>
                  <td></td>
                  <td></td>
                {{else}}
                  <td>{{_ 'granulometry_test_correction'}}</td>
                {{/if}}
                <td class="hidden-xs">{{r correction}} g</td>
                <td class="hidden-sm hidden-xs">{{r retainedTotal}} g</td>
                <td class="hidden-sm hidden-xs"></td>
                <td class="hidden-sm hidden-xs"></td>
                <td class="hidden-sm hidden-xs"></td>
              </tr>
            </tbody>
          </table>

          <div data-brief>
            <p data-attribute>
              <span data-label>{{_ 'granulometry_test_sample_weight'}}</span> /
              <strong data-value>{{r sampleWeight}} g</strong>
            </p>

            <p data-attribute>
              <span data-label>{{_ 'granulometry_test_total_weight'}}</span> /
              <strong data-value>{{r retainedTotal}} g</strong>
            </p>

            <p data-attribute>
              <span data-label>{{_ 'granulometry_test_fineness'}}</span> /
              <strong data-value>{{r fineness 2}}</strong>
            </p>
          </div>
        </div>
      </div>

      {{#if idealCurves}}
        <p>
          {{_ 'granulometry_ideal_curves'}} /
          <strong>{{r idealCurves}} mm</strong>
        </p>
      {{/if}}

      <div class="pull-right">
        <button class="btn btn-sm btn-default" type="button" data-download-pdf>
          {{_ 'download_pdf'}}
          <span class="glyphicon glyphicon-file"></span>
        </button>
        <a href="{{pathFor 'granulometryEdit'}}" class="btn btn-sm btn-default" title="{{_ 'granulometry_update_title'}}">
          {{_ 'edit'}}
        </a>
      </div>

      <button class="btn btn-sm btn-danger" type="button" data-delete>
        {{_ 'delete'}}
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
              <div class="ct-chart ct-golden-section"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="text-center small">
                <span class="hidden-lg hidden-md"><strong>{{_ 'x_axis'}}</strong>:</span>

                {{_ 'granulometry_graph_x_label'}}
              </div>
              <div class="rotate-sm-90 small">
                <span class="hidden-lg hidden-md"><strong>{{_ 'y_axis'}}</strong>:</span>

                {{_ 'granulometry_graph_y_label'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
