<template name="maintenanceNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'maintenance_create_title'}}
        <a class="pull-right" href="{{pathFor 'maintenances'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Maintenances' id='newMaintenanceForm' type='method' meteormethod='createMaintenance'}}
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='instrumentId' autofocus=true}}
            </div>
            <div class="col-md-6">
              {{> afQuickField name='type'}}
            </div>
          </div>
          {{#if selectedType}}
            {{#if hasPlant}}
              {{> afQuickField name='plantId'}}
            {{/if}}

            <div class="row">
              <div class="col-md-6">
                {{> afQuickField name='brand'}}
              </div>
              <div class="col-md-6">
                {{> afQuickField name='serial'}}
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                {{> afQuickField name='code'}}
              </div>
              <div class="col-md-6">
                {{> afQuickField name='quantity'}}
              </div>
            </div>
            {{#if isCalibratable}}
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='characteristics'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='report'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  {{> afQuickField name='date'}}
                </div>
                <div class="col-md-3">
                  {{> afQuickField name='period'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='validUntil'}}
                </div>
              </div>
            {{else}}
              {{> afQuickField name='characteristics'}}
            {{/if}}
          {{/if}}
        </fieldset>

        {{#if selectedType}}
          <button type="submit" class="btn btn-primary">{{_ 'maintenance_create'}}</button>
        {{/if}}
      {{/autoForm}}
    </div>
  </div>
</template>
