<template name="maintenanceReports">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation">
        <a href="{{pathFor 'maintenances'}}">
          {{_ 'maintenance_list_title'}}
        </a>
      </li>
      <li role="presentation" class="active">
        <a href="{{pathFor 'maintenanceReports'}}">
          {{_ 'maintenance_reports_title'}}
        </a>
      </li>
    </ul>

    <br>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="reports">
        <div class="row">
          <div class="col-md-6">
            {{#if disableMasterList}}
              <button type="button" class="btn btn-default btn-block disabled">
                {{_ 'maintenance_master_list'}}
              </button>
            {{else}}
              <a href="{{pathFor 'maintenanceMasterList'}}" class="btn btn-default btn-block">
                {{_ 'maintenance_master_list'}}
              </a>
            {{/if}}

            <br class="hidden-lg hidden-md">
          </div>
          <div class="col-md-6">
            {{#if disableStatus}}
              <button type="button" class="btn btn-default btn-block disabled">
                {{_ 'maintenance_status'}}
              </button>
            {{else}}
              <a href="{{pathFor 'maintenanceStatus'}}" class="btn btn-default btn-block">
                {{_ 'maintenance_status'}}
              </a>
            {{/if}}

            <br class="hidden-lg hidden-md">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
