<template name="materialEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'material_update_title'}}
        <a class="pull-right" href="{{pathFor 'material'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Materials' id='editMaterialForm' type='method' validation='blur' meteormethod='updateMaterial' doc=..}}
        <fieldset>
          {{> afQuickField name='concretes'}}
          {{> afQuickField name='sands'}}
          {{> afQuickField name='gravels'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'material_update'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
