<template name="material">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'material'}}: {{name}}
          <a href="{{pathFor 'materialEdit'}}" title="{{_ 'material_update_title'}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="pull-right" href="{{pathFor 'materials'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'material_absorption'}} / <strong>{{absorption}}</strong>
        </p>

        <p>
          {{_ 'material_default'}} / <strong>{{defaultMaterial}}</strong>
        </p>
      </div>
    </div>
  </div>
</template>
