<template name="materialNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'material_create_title'}}
        <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Materials' id='newMaterialForm' type='method' validation='blur' meteormethod='createMaterial'}}
        <fieldset>
          {{> afQuickField name='aggregates' template='slim'}}
          {{> afQuickField name='concretes' template='slim'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'material_create'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
