<template name="origin">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'origin'}}
          <a class="pull-right" href="{{pathFor 'nonconformities'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'origin_name'}} /
          <strong>{{name}}</strong>
        </p>

        <a href="{{pathFor 'originEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'origin_update_title'}}">
          {{_ 'edit'}}
        </a>
      </div>
    </div>
  </div>
</template>
