<template name="limit">
    <div class="row text-center">
        <h4>{{_ 'limit_title'}}</h4>
        <h5>{{_ 'limit_subtitle'}}</h5>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{_ 'limit_sample_title'}}
                    <a class="pull-right" href="{{pathFor 'limits'}}">{{_ 'go_back'}}</a>
                </h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{_ 'limit_sample_responsible'}} / <strong>{{sampleResponsible}}</strong></p>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{_ 'limit_field_date'}} / <strong>{{l fieldDate 'L'}}</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{_ 'limit_sample_name'}} / <strong>{{sampleName}}</strong></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>{{_ 'limit_origin'}} / <strong>{{origin}}</strong></p>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <a href="{{pathFor 'limitEdit'}}" class="btn btn-sm btn-default" title="{{_ 'limit_update_title'}}">
                {{_ 'edit'}}
            </a>
        </div>
        <button class="btn btn-sm btn-danger" type="button" data-delete>
            {{_ 'delete'}}
        </button>
    </div>
</template>
