<template name="limits">
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation">
                <a href="{{pathFor 'granulometries'}}">
                    {{_ 'granulometries_label'}}
                </a>
            </li>
            <li role="presentation">
                <a href="{{pathFor 'mixtures'}}">
                    {{_ 'mixtures'}}
                </a>
            </li>
            <li role="presentation">
                <a href="{{pathFor 'granulometryHumidities'}}">
                    {{_ 'granulometry_humidity'}}
                </a>
            </li>
            <li role="presentation" class="active">
                <a href="{{pathFor 'fieldDensities'}}">
                    {{_ 'field_density'}}
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="row text-center">
                <h4>{{_ 'field_density_title'}}</h4>
                <h5>{{_ 'field_density_subtitle'}}</h5>
            </div>
            {{#if showList}}
                {{> limitsList}}
            {{else}}
                {{> limitsEmpty}}
            {{/if}}
        </div>
    </div>
</template>

<template name="limitsList">
    <p>
        <a class="btn btn-xs btn-default pull-right" href="{{pathFor 'fieldDensityNew'}}">{{_ 'field_density_create_title'}}</a>
    </p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{_ 'field_density_sample_name'}}</th>
            <th>{{_ 'field_density_work'}}</th>
            <th>{{_ 'field_density_field_date'}}</th>
            <th>{{_ 'field_density_lab_date'}}</th>
            <th class="text-right">
                <a href="#search-filter" title="{{_ 'search'}}" data-toggle="collapse" data-search>
                    <span class="glyphicon glyphicon-search"></span>
                </a>
                <a class="hidden" href="{{pathFor 'fieldDensities'}}" title="{{_ 'cancel'}}" data-search-clean>
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </th>
        </tr>

        <tr class="collapse" id="search-filter">
            <td class="form-group form-group-sm">
                <input class="form-control" type="text" name="sampleName" id="sampleName">
            </td>
            <td class="form-group form-group-sm">
                <input class="form-control" type="text" name="work" id="work">
            </td>
            <td class="form-group form-group-sm">
                <input class="form-control" type="text" name="fieldDate" id="fieldDate">
            </td>
            <td class="form-group form-group-sm">
                <input class="form-control" type="text" name="labDate" id="labDate">
            </td>
            <td>
                <button type="button" class="btn btn-default btn-sm btn-block" data-action="search">
                    {{_ 'search'}}
                </button>
            </td>
        </tr>
        </thead>
        <tbody>
        {{#each fieldDensities}}
            <tr class="visible-on-hover-parent">
                <td><a href="{{pathFor 'fieldDensity'}}">{{sampleName}}</a></td>
                <td><a href="{{pathFor 'fieldDensity'}}">{{work}}</a></td>
                <td><a href="{{pathFor 'fieldDensity'}}">{{l fieldDate 'L'}}</a></td>
                <td><a href="{{pathFor 'fieldDensity'}}">{{l labDate 'L'}}</a></td>
                <td class="text-right">
                    <a class="btn btn-sm btn-default visible-on-hover" href="{{pathFor 'fieldDensityEdit'}}" title="{{_ 'edit'}}">
                        {{_ 'edit'}}
                    </a>
                </td>
            </tr>
        {{else}}
            <tr>
                <td colspan="7">
                    <div class="alert alert-info">
                        {{_ 'search_with_no_results'}}
                    </div>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>

    {{#if nextPath}}
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <a class="btn btn-default btn-xs btn-block" href="{{nextPath}}">{{_ 'more'}}</a>
            </div>
        </div>

        <br>
    {{else}}
        {{#unless ready}}{{> spinner}}{{/unless}}
    {{/if}}

    <a class="btn btn-primary" href="{{pathFor 'fieldDensityNew'}}">{{_ 'field_density_create_title'}}</a>
</template>
