<template name="truck">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'truck'}}
          <a class="pull-right" href="{{pathFor 'trucks'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'truck_number'}} /
          <strong>{{number}}</strong>
        </p>

        <p>
          {{_ 'truck_driver'}} /
          <strong>{{driver}}</strong>
        </p>

        <a href="{{pathFor 'truckEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'truck_update_title'}}">
          {{_ 'edit'}}
        </a>

        {{#unless hasReceipts}}
          <button class="btn btn-sm btn-danger" type="button" data-delete>
            {{_ 'delete'}}
          </button>
        {{/unless}}
      </div>
    </div>
  </div>
</template>
