<template name="crack">
  {{#if stressErrorExceeded}}
    <div class="alert alert-danger text-center">
      <strong>{{_ 'crack_stress_error_exceeded'}}</strong>
    </div>
  {{/if}}

  {{#with crack}} {{> _crack}} {{/with}}

  {{#if sibling}}
    {{#with sibling}} {{> _crack}} {{/with}}
  {{/if}}

  {{#if showStressAverageInfo}}
    <hr>

    <div class="row">
      <div class="col-md-6">
        <p>
          {{_ 'crack_stress_average'}} /
          <strong>{{stressAverage}} MPa</strong>
        </p>
      </div>
      <div class="col-md-6">
        <p class="{{stressErrorClass}}">
          {{_ 'crack_stress_error'}} /
          <strong>{{stressError}}%</strong>
        </p>
      </div>
    </div>
  {{/if}}
</template>
