<template name="crack">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'crack'}}
        {{#if updatedAt}}
          <a class="pull-right" href="{{pathFor 'cracksCracked'}}">{{_ 'go_back'}}</a>
        {{else}}
          <a class="pull-right" href="{{pathFor 'cracks'}}">{{_ 'go_back'}}</a>
        {{/if}}
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            {{_ 'crack_designation'}} /
            <strong>{{designation}}</strong>
          </p>

          <p>
            {{_ 'crack_molding_in'}} /
            <strong>{{l moldingIn 'L'}}</strong>
          </p>

          <p>
            {{_ 'crack_cracked_in'}} /
            <strong>{{l crackedIn 'L'}}</strong>
          </p>

          <p>
            {{_ 'crack_tube_type'}} /
            <strong>{{tubeType}}</strong>
          </p>
        </div>

        <div class="col-md-6">
          <p>
            {{_ 'crack_diameter'}} /
            <strong>{{diameter}} mm</strong>
          </p>

          <p>
            {{_ 'crack_height'}} /
            <strong>{{height}} mm</strong>
          </p>

          <p>
            {{_ 'crack_load'}} /
            <strong>{{load}}</strong>
          </p>

          <p>
            {{_ 'crack_stress'}} /
            {{#if stress}}<strong>{{stress}} MPa</strong>{{/if}}
          </p>

        </div>
      </div>

      <p>
        {{_ 'crack_other_assay'}} /
        <strong>{{otherAssay}}</strong>
      </p>

      {{#unless updatedAt}}
        <a href="{{pathFor 'crackEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'crack_update_title'}}">
          {{_ 'edit'}}
        </a>
      {{/unless}}
    </div>
  </div>
</template>
