<template name="crackEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'crack_update_title'}}: {{designation}}
        <a class="pull-right" href="{{pathFor 'crack'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Cracks' id='editCrackForm' validation='blur' type='method' meteormethod='updateCrack' doc=..}}
        <fieldset>
          {{> afFieldInput name='sampleId'}}
          {{> afFieldInput name='designation'}}
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='pressId'}}
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='moldingIn'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='crackedIn'}}
                </div>
              </div>
              {{> afQuickField name='tubeType'}}
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='diameter'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='height'}}
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='load'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='stress'}}
                </div>
              </div>
              {{> afQuickField name='otherAssay'}}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'crack_update'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
