<template name="cracks">
  {{#if cracks.count}}
    {{> cracksList}}
  {{else}}
    {{> cracksEmpty}}
  {{/if}}
</template>

<template name="cracksList">
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">
          {{_ 'crack_pending'}}
        </a>
      </li>
      <li role="presentation">
        <a href="{{pathFor 'cracksCracked'}}">
          {{_ 'crack_cracked'}}
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="pending">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{_ 'crack_designation'}}</th>
              <th class="hidden-xs hidden-sm hidden-md">{{_ 'crack_time_after_molding'}}</th>
              <th class="hidden-xs">{{_ 'crack_molding_in'}}</th>
              <th>{{_ 'crack_cracked_in_estimated'}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each cracks}}
            <tr class="{{crackClass}} visible-on-hover-parent">
              <td><a href="{{pathFor 'crack'}}">{{designation}}</a></td>
              <td class="hidden-xs hidden-sm hidden-md">{{timeAfterMolding}}</td>
              <td class="hidden-xs">{{l moldingIn 'L'}}</td>
              <td>{{l crackedIn 'L'}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-default visible-on-hover" href="{{pathFor 'crackEdit'}}" title="{{_ 'edit'}}">
                  {{_ 'edit'}}
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
