<template name="limitEdit">
	<div class="row text-center">
		<h4>{{_ 'limit_title'}}</h4>
		<h5>{{_ 'limit_subtitle'}}</h5>
	</div>
	<div class="row">
		{{#autoForm collection='Limits' id='editLimitForm' type='method-update' validation='blur' meteormethod='updateLimit' doc=..}}
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{_ 'limit_update_title'}}
								<a class="pull-right" href="{{pathFor 'limits'}}">{{_ 'go_back'}}</a>
							</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-md-3">
										{{> afQuickField name='sampleResponsibleId'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='fieldDate'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='sampleName'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='origin'}}
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{_ 'limit_liquid_title'}}</h3>
						</div>
						<div class="panel-body">
							<h4 class="panel-title">{{_ 'limit_liquid_subtitle'}}</h4>
							<br>
							<fieldset>
								<div class="table-responsive">
									<table class="table table-condensed table-hover table-no-margin">
										<thead>
										<tr>
											<th class="col-md-3">{{_ 'limit_steps'}}</th>
											<th class="col-md-1">&nbsp;</th>
											<th style="text-align: center">{{_ 'limit_point_1'}}</th>
											<th style="text-align: center">{{_ 'limit_point_2'}}</th>
											<th style="text-align: center">{{_ 'limit_point_3'}}</th>
											<th style="text-align: center">{{_ 'limit_point_4'}}<br>{{_ 'limit_point_optional'}}</th>
											<th style="text-align: center">{{_ 'limit_point_5'}}<br>{{_ 'limit_point_optional'}}</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<th>{{_ 'limit_liquid_hits'}}</th>
											<th style="text-align: center">N°</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_hits_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_hits_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_hits_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_hits_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_hits_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_hits_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_hits_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_hits_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_hits_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_hits_p5'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_liquid_code'}}</th>
											<th style="text-align: center">&nbsp;</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_code_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_code_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_code_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_code_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_code_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_code_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_code_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_code_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_code_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_code_p5'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_liquid_empty_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_empty_mass_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_empty_mass_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_empty_mass_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_empty_mass_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_empty_mass_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_empty_mass_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_empty_mass_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_empty_mass_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_empty_mass_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_empty_mass_p5'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_liquid_wet_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_wet_mass_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_wet_mass_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_wet_mass_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_wet_mass_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_wet_mass_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_wet_mass_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_wet_mass_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_wet_mass_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_wet_mass_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_wet_mass_p5'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_liquid_dry_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_dry_mass_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_dry_mass_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_dry_mass_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_dry_mass_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_dry_mass_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_dry_mass_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_dry_mass_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_dry_mass_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_dry_mass_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_dry_mass_p5'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_liquid_humidity'}}</th>
											<th style="text-align: center">%</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_humidity_p1'}} has-error{{/if}}">{{> afFieldInput name='liquid_humidity_p1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_humidity_p2'}} has-error{{/if}}">{{> afFieldInput name='liquid_humidity_p2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_humidity_p3'}} has-error{{/if}}">{{> afFieldInput name='liquid_humidity_p3'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_humidity_p4'}} has-error{{/if}}">{{> afFieldInput name='liquid_humidity_p4'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='liquid_humidity_p5'}} has-error{{/if}}">{{> afFieldInput name='liquid_humidity_p5'}}</div></td>
										</tr>
										</tbody>
									</table>
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='liquid_hits_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_hits_p1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_code_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_code_p1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_empty_mass_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_empty_mass_p1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_wet_mass_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_wet_mass_p1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_dry_mass_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_dry_mass_p1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_humidity_p1' autoform=.}}<span class="help-block">{{_ 'limit_point_1'}}: {{afFieldMessage name='liquid_humidity_p1' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='liquid_hits_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_hits_p2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_code_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_code_p2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_empty_mass_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_empty_mass_p2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_wet_mass_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_wet_mass_p2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_dry_mass_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_dry_mass_p2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_humidity_p2' autoform=.}}<span class="help-block">{{_ 'limit_point_2'}}: {{afFieldMessage name='liquid_humidity_p2' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='liquid_hits_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_hits_p3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_code_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_code_p3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_empty_mass_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_empty_mass_p3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_wet_mass_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_wet_mass_p3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_dry_mass_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_dry_mass_p3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_humidity_p3' autoform=.}}<span class="help-block">{{_ 'limit_point_3'}}: {{afFieldMessage name='liquid_humidity_p3' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='liquid_hits_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_hits_p4' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_code_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_code_p4' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_empty_mass_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_empty_mass_p4' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_wet_mass_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_wet_mass_p4' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_dry_mass_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_dry_mass_p4' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_humidity_p4' autoform=.}}<span class="help-block">{{_ 'limit_point_4'}}: {{afFieldMessage name='liquid_humidity_p4' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='liquid_hits_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_hits_p5' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_code_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_code_p5' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_empty_mass_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_empty_mass_p5' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_wet_mass_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_wet_mass_p5' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_dry_mass_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_dry_mass_p5' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='liquid_humidity_p5' autoform=.}}<span class="help-block">{{_ 'limit_point_5'}}: {{afFieldMessage name='liquid_humidity_p5' autoform=.}}</span>{{/if}}
								</div>
							</fieldset>
							<br>
							<h4 class="panel-title">{{_ 'limit_liquid_help'}}</h4>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{_ 'limit_plastic_title'}}</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="table-responsive">
									<table class="table table-condensed table-hover table-no-margin">
										<thead>
										<tr>
											<th class="col-md-3">{{_ 'limit_steps'}}</th>
											<th class="col-md-1">&nbsp;</th>
											<th style="text-align: center">{{_ 'limit_determination_1'}}</th>
											<th style="text-align: center">{{_ 'limit_determination_2'}}</th>
											<th style="text-align: center">{{_ 'limit_determination_3'}}</th>
										</tr>
										</thead>
										<tbody>
										<tr>
											<th>{{_ 'limit_plastic_code'}}</th>
											<th style="text-align: center">N°</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_code_d1'}} has-error{{/if}}">{{> afFieldInput name='plastic_code_d1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_code_d2'}} has-error{{/if}}">{{> afFieldInput name='plastic_code_d2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_code_d3'}} has-error{{/if}}">{{> afFieldInput name='plastic_code_d3'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_plastic_empty_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_empty_mass_d1'}} has-error{{/if}}">{{> afFieldInput name='plastic_empty_mass_d1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_empty_mass_d2'}} has-error{{/if}}">{{> afFieldInput name='plastic_empty_mass_d2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_empty_mass_d3'}} has-error{{/if}}">{{> afFieldInput name='plastic_empty_mass_d3'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_plastic_wet_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_wet_mass_d1'}} has-error{{/if}}">{{> afFieldInput name='plastic_wet_mass_d1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_wet_mass_d2'}} has-error{{/if}}">{{> afFieldInput name='plastic_wet_mass_d2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_wet_mass_d3'}} has-error{{/if}}">{{> afFieldInput name='plastic_wet_mass_d3'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_plastic_dry_mass'}}</th>
											<th style="text-align: center">g</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_dry_mass_d1'}} has-error{{/if}}">{{> afFieldInput name='plastic_dry_mass_d1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_dry_mass_d2'}} has-error{{/if}}">{{> afFieldInput name='plastic_dry_mass_d2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_dry_mass_d3'}} has-error{{/if}}">{{> afFieldInput name='plastic_dry_mass_d3'}}</div></td>
										</tr>
										<tr>
											<th>{{_ 'limit_plastic_humidity'}}</th>
											<th style="text-align: center">%</th>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_humidity_d1'}} has-error{{/if}}">{{> afFieldInput name='plastic_humidity_d1'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_humidity_d2'}} has-error{{/if}}">{{> afFieldInput name='plastic_humidity_d2'}}</div></td>
											<td><div class="form-group{{#if afFieldIsInvalid name='plastic_humidity_d3'}} has-error{{/if}}">{{> afFieldInput name='plastic_humidity_d3'}}</div></td>
										</tr>
										</tbody>
									</table>
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='plastic_code_d1' autoform=.}}<span class="help-block">{{_ 'limit_determination_1'}}: {{afFieldMessage name='plastic_code_d1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_empty_mass_d1' autoform=.}}<span class="help-block">{{_ 'limit_determination_1'}}: {{afFieldMessage name='plastic_empty_mass_d1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_wet_mass_d1' autoform=.}}<span class="help-block">{{_ 'limit_determination_1'}}: {{afFieldMessage name='plastic_wet_mass_d1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_dry_mass_d1' autoform=.}}<span class="help-block">{{_ 'limit_determination_1'}}: {{afFieldMessage name='plastic_dry_mass_d1' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_humidity_d1' autoform=.}}<span class="help-block">{{_ 'limit_determination_1'}}: {{afFieldMessage name='plastic_humidity_d1' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='plastic_code_d2' autoform=.}}<span class="help-block">{{_ 'limit_determination_2'}}: {{afFieldMessage name='plastic_code_d2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_empty_mass_d2' autoform=.}}<span class="help-block">{{_ 'limit_determination_2'}}: {{afFieldMessage name='plastic_empty_mass_d2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_wet_mass_d2' autoform=.}}<span class="help-block">{{_ 'limit_determination_2'}}: {{afFieldMessage name='plastic_wet_mass_d2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_dry_mass_d2' autoform=.}}<span class="help-block">{{_ 'limit_determination_2'}}: {{afFieldMessage name='plastic_dry_mass_d2' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_humidity_d2' autoform=.}}<span class="help-block">{{_ 'limit_determination_2'}}: {{afFieldMessage name='plastic_humidity_d2' autoform=.}}</span>{{/if}}
								</div>
								<div class="table-responsive has-error">
									{{#if afFieldIsInvalid name='plastic_code_d3' autoform=.}}<span class="help-block">{{_ 'limit_determination_3'}}: {{afFieldMessage name='plastic_code_d3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_empty_mass_d3' autoform=.}}<span class="help-block">{{_ 'limit_determination_3'}}: {{afFieldMessage name='plastic_empty_mass_d3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_wet_mass_d3' autoform=.}}<span class="help-block">{{_ 'limit_determination_3'}}: {{afFieldMessage name='plastic_wet_mass_d3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_dry_mass_d3' autoform=.}}<span class="help-block">{{_ 'limit_determination_3'}}: {{afFieldMessage name='plastic_dry_mass_d3' autoform=.}}</span>{{/if}}
									{{#if afFieldIsInvalid name='plastic_humidity_d3' autoform=.}}<span class="help-block">{{_ 'limit_determination_3'}}: {{afFieldMessage name='plastic_humidity_d3' autoform=.}}</span>{{/if}}
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-md-12">
										{{> afQuickField name='observations'}}
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">{{_ 'limit_update'}}</button>
			</div>
		{{/autoForm}}
	</div>
</template>
