<template name="organization">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'organization'}}
          <a class="pull-right" href="{{pathFor 'organizations'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'organization_name'}} /
          <strong>{{name}}</strong>
        </p>

        <p>
          {{#with image}}
            {{#if this.isUploaded}}
              <img class="img-rounded img-responsive" src="{{url store='thumbs'}}">
            {{else}}
              {{> FS.UploadProgressBar bootstrap=true class='progress-bar-striped'}}
            {{/if}}
          {{/with}}
        </p>

        <a href="{{pathFor 'organizationEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'organization_update_title'}}">
          {{_ 'edit'}}
        </a>

        <button class="btn btn-sm btn-danger" type="button" data-delete>
          {{_ 'delete'}}
        </button>
      </div>
    </div>
  </div>
</template>
