<template name="truckEdit">
  <div class="section-content col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'truck_update_title'}}
          <a class="pull-right" href="{{pathFor 'truck'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='Trucks' id='editTruckForm' type='method' meteormethod='updateTruck' doc=..}}
          <fieldset>
            {{> afQuickField name='number' autofocus=true}}
            {{> afQuickField name='driver'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">{{_ 'truck_update'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
