<template name="truckNew">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'truck_create_title'}}
          <a class="pull-right" href="{{pathFor 'trucks'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='Trucks' id='newTruckForm' type='method' meteormethod='createTruck'}}
          <fieldset>
            {{> afQuickField name='number' autofocus=true placeholder=numberPlaceholder}}
            {{> afQuickField name='driver'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">{{_ 'truck_create'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
