<template name="truck">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'truck'}}: {{number}}
          <a href="{{pathFor 'truckEdit'}}" title="{{_ 'truck_update_title'}}">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>
          <a class="pull-right" href="{{pathFor 'trucks'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'truck_driver'}} /
          <strong>{{driver}}</strong>
        </p>
      </div>
    </div>
  </div>
</template>
