<template name="_concreteEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=concrete.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='editConcreteForm' validation='blur' type='method' meteormethod='updateConcrete' doc=concrete}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sample._id}}
          {{> afQuickField name='strengthId' firstOption=firstOptionForSelect}}
          {{> afQuickField name='downloadId' firstOption=firstOptionForSelect}}
          {{> afQuickField name='aggregateId'}}
          {{> afQuickField name='settlementId'}}
          {{> afQuickField name='additiveId'}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'concrete_dosages'}}
            </div>
            <div class="panel-body">
              {{> afQuickField name='concretes'}}
              {{> afQuickField name='sands'}}
              {{> afQuickField name='gravels'}}
            </div>
          </div>
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'concrete_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
