<template name="_concreteEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=concrete.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='editConcreteForm' type='method' meteormethod='updateConcrete' doc=concrete}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sampleId type='hidden'}}
          {{> afQuickField name='strengthId' options=strengthOptions firstOption=firstOptionForSelect autofocus=true}}
          {{> afQuickField name='downloadId' options=downloadOptions firstOption=firstOptionForSelect}}
          {{> afQuickField name='aggregateId' options=aggregateOptions firstOption=false}}
          {{> afQuickField name='settlementId' options=settlementOptions firstOption=false}}
          {{> afQuickField name='typeId' options=typeOptions firstOption=false}}
          {{> afQuickField name='additiveId' options=additiveOptions firstOption=false}}
          {{> afQuickField name='dosages'}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'concrete_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
