<template name="_concreteEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=concrete.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='editConcreteForm' validation='blur' type='method-update' meteormethod='updateConcrete' doc=concrete}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sample._id}}
          {{> afQuickField name='strengthId' options=strengthOptions}}
          {{> afQuickField name='download' firstOption=false}}
          {{> afQuickField name='aggregateId' options=aggregateOptions}}
          {{> afQuickField name='settlementId' options=settlementOptions}}
          {{> afQuickField name='additiveId' options=additiveOptions firstOption=firstOptionForSelect}}
          {{#unless afFieldValueIs name='additiveId' value=''}}
            <div class="row">
              <div class="col-md-6">
                {{> afQuickField name='additiveAmount' unit=additive.unit}}
              </div>
            </div>
          {{/unless}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'concrete_dosages'}}
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='water'}}
                </div>
              </div>
              {{> afQuickField name='concretes'}}
              {{> afQuickField name='sands'}}
              {{> afQuickField name='gravels'}}
            </div>
          </div>
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'concrete_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
