<template name="_concreteNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_create_title'}}
        <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='newConcreteForm' validation='blur' type='method' meteormethod='createConcrete' doc=doc}}
        <fieldset>
          {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
          {{> afQuickField name='strengthId' firstOption=firstOptionForSelect data-formula-component=true}}
          {{> afQuickField name='downloadId' firstOption=firstOptionForSelect data-formula-component=true}}
          {{> afQuickField name='aggregateId' firstOption=false data-formula-component=true}}
          {{> afQuickField name='settlementId' firstOption=false data-formula-component=true}}
          {{> afQuickField name='typeId' firstOption=false}}
          {{> afQuickField name='additiveId' firstOption=false}}
          {{> afQuickField name='dosages' template='slim'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'concrete_create'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
