<template name="_concreteNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_create_title'}}
        <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='newConcreteForm' validation='blur' type='method' meteormethod='createConcrete' doc=..}}
        <fieldset>
          {{> afFieldInput name='sampleId' value=sample._id}}
          {{> afQuickField name='strengthId' firstOption=firstOptionForSelect data-formula-component=true}}
          {{> afQuickField name='downloadId' firstOption=firstOptionForSelect data-formula-component=true}}
          {{> afQuickField name='aggregateId' data-formula-component=true}}
          {{> afQuickField name='settlementId' data-formula-component=true}}
          {{> afQuickField name='additiveId'}}
          {{> afQuickField name='water'}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'concrete_dosages'}}
            </div>
            <div class="panel-body">
              {{> afQuickField name='concretes'}}
              {{> afQuickField name='sands'}}
              {{> afQuickField name='gravels'}}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'concrete_create'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
