<template name="concrete">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete'}}
        <a href="{{pathFor 'concreteEdit'}}" title="{{_ 'concrete_update_title'}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'strength'}} /
        <strong>{{strength}}</strong>
      </p>

      <p>
        {{_ 'download'}} /
        <strong>{{download}}</strong>
      </p>

      <p>
        {{_ 'aggregate'}} /
        <strong>{{aggregate}}</strong>
      </p>

      <p>
        {{_ 'settlement'}} /
        <strong>{{settlement}}</strong>
      </p>

      <p>
        {{_ 'additive'}} /
        <strong>{{additive}}</strong>
      </p>

      <h5>{{_ 'concrete_dosages'}}</h5>

      <dl class="dl-horizontal">
        {{#each concretes}}
          <dt>{{concreteName}}</dt>
          <dd>{{amount}}</dd>
        {{/each}}

        {{#each sands}}
          <dt>{{sandName}}</dt>
          <dd>{{amount}} ({{absorption}}%)</dd>
        {{/each}}

        {{#each gravels}}
          <dt>{{gravelName}}</dt>
          <dd>{{amount}} ({{absorption}}%)</dd>
        {{/each}}
      </dl>
    </div>
  </div>
</template>
