<template name="hardenedConcreteCracks">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>{{_ 'sample'}}</th>
        <th class="hidden-xs">{{_ 'crack_molding_in'}}</th>
        <th class="hidden-xs hidden-sm">{{_ 'crack_cracked_in'}}</th>
        <th class="hidden-xs hidden-sm">{{_ 'crack_stress'}}</th>
      </tr>
    </thead>

    <tbody>
      {{#each cracks}}
        <tr>
          <td>{{sample}}</td>
          <td class="hidden-xs">{{l moldingIn 'L'}}</td>
          <td class="hidden-xs hidden-sm">{{l crackedIn 'L'}}</td>
          <td class="hidden-xs hidden-sm">{{r stress 1}} MPa</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</template>
