<template name="graphicHardenedConcrete7DaysResistance">
  <div class="row" data-container>
    <div class="col-md-4 hide-on-pdf-export">
      <div class="panel panel-default">
        <div class="panel-body">
          {{#autoForm schema=filterSchema id='filterHardenedConcrete7DaysResistance' type='method' meteormethod='filter7DaysResistance' resetOnSuccess=false doc=filter}}
            <fieldset>
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='start'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='end'}}
                </div>
              </div>

              {{> afQuickField name='concretes'}}
              {{> afQuickField name='plantId'}}
              {{> afQuickField name='strengthId'}}
              {{> afQuickField name='download'}}
              {{> afQuickField name='aggregateId'}}
              {{> afQuickField name='settlementId'}}
              {{> customerSearch}}
              {{> workSearch}}

              <hr>

              <button type="submit" class="btn btn-default btn-block">
                {{_ 'graphic_filter_apply'}}
              </button>
            </fieldset>
          {{/autoForm}}
        </div>
      </div>

      {{> graphicHardenedConcrete7DaysResistanceReference}}
    </div>
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{_ 'graphic_hardened_concrete_7_days_resistance_title'}} / {{strength.name}}
          </h3>
        </div>

        <div class="panel-body">
          {{#if cracks.length}}
            <div class="ct-chart ct-golden-section" data-chart></div>
          {{else}}
            <h4 class="text-warning text-center">
              {{_ 'graphic_no_data'}}
            </h4>
          {{/if}}
        </div>

				<div class="hide-on-pdf-export pull-right">
					<hr>
					<button class="btn btn-sm btn-default" type="button" graph-download-pdf>
						{{_ 'download_graph_pdf'}}
						<span class="glyphicon glyphicon-file"></span>
					</button>
					<button class="btn btn-sm btn-default" type="button" values-download-pdf>
						{{_ 'download_values_pdf'}}
						<span class="glyphicon glyphicon-file"></span>
					</button>
				</div>
      </div>

      {{#if cracks.length}}
        <p>
          {{_ 'graphic_hardened_concrete_7_days_resistance_mean'}}:
          <strong>{{r mean 1}}%</strong>
        </p>
      {{/if}}

			<div class="col-md-6 hidden but-show-on-pdf-export">
				<br>
				{{> graphicHardenedConcrete7DaysResistanceReference}}
			</div>
    </div>
  </div>

  {{#if cracks.length}}
		<div class="hide-on-pdf-export">
    <hr>

    {{> hardenedConcreteCracks}}
		</div>
  {{/if}}

  <div class="hidden">{{sampleCount}}</div>
</template>
