<template name="_concreteNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete_create_title'}}
        <a class="pull-right" href="{{pathFor 'receiptNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Concretes' id='newConcreteForm' validation='blur' type='method' meteormethod='createConcrete' doc=concrete}}
        <fieldset>
          {{> afFieldInput name='sampleId' value=sample._id}}
          {{> afQuickField name='strengthId' firstOption=firstOptionForSelect}}
          {{> afQuickField name='download' firstOption=firstOptionForSelect}}
          {{> afQuickField name='aggregateId'}}
          {{> afQuickField name='settlementId'}}
          {{> afQuickField name='additiveId' firstOption=firstOptionForSelect}}
          {{#if additive}}
            <div class="row">
              <div class="col-md-6">
                {{> afQuickField name='additiveAmount' unit=additive.unit}}
              </div>
            </div>
          {{/if}}
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'concrete_dosages'}}
            </div>
            <div class="panel-body">
              <div class="row small">
                <div class="col-md-6">
                  {{> afQuickField name='water'}}
                </div>
                <div class="col-md-6">
                  {{> afQuickField name='reducer'}}
                </div>
              </div>
              {{> afQuickField name='concretes'}}
              {{> afQuickField name='sands'}}
              {{> afQuickField name='gravels'}}
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'concrete_create'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
