<template name="concrete">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'concrete'}}
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'strength'}} /
        <strong>{{strength}}</strong>
      </p>

      <p>
        {{_ 'download'}} /
        <strong>{{download}}</strong>
      </p>

      <p>
        {{_ 'aggregate'}} /
        <strong>{{aggregate}}</strong>
      </p>

      <p>
        {{_ 'settlement'}} /
        <strong>{{settlement}}</strong>
      </p>

      {{#if additive}}
        <p>
          {{_ 'additive'}} /
          <strong>{{additive.name}}</strong>
          (<strong>{{additiveAmount}} {{additive.unit}}</strong>)
        </p>
      {{/if}}

      <p>
        {{_ 'concrete_water'}} /
        <strong>{{water}} l/m³</strong>
      </p>

      {{#if reducer}}
        <p>
          {{_ 'concrete_reducer'}} /
          <strong>{{reducer}} kg/m³</strong>
        </p>
      {{/if}}

      <h5>{{_ 'concrete_dosages'}}</h5>

      <dl class="dl-horizontal">
        {{#each concretes}}
          <dt>{{concreteName}}</dt>
          <dd>{{amount}} kg/m³</dd>
        {{/each}}

        {{#each sands}}
          <dt>{{sandName}}</dt>
          <dd>{{amount}} kg/m³ ({{absorption}}%)</dd>
        {{/each}}

        {{#each gravels}}
          <dt>{{gravelName}}</dt>
          <dd>{{amount}} kg/m³ ({{absorption}}%)</dd>
        {{/each}}
      </dl>

      <a href="{{pathFor 'concreteEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'concrete_update_title'}}">
        {{_ 'edit'}}
      </a>
    </div>
  </div>
</template>
