<template name="compaction">
	<div class="row text-center">
		<h4>{{_ 'compaction_title'}}</h4>
		<h5>{{_ 'compaction_subtitle'}}</h5>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default" style="margin-top: 5px">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{_ 'compaction_new'}}
						<a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
					</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_responsible'}} / <strong>{{sampleResponsible}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_date'}} / <strong>{{l fieldDate 'L'}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_name'}} / <strong>{{sampleName}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_origin'}} / <strong>{{origin}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_type'}} / <strong>{{typeName}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_layers'}} / <strong>{{layers}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_hits'}} / <strong>{{hits}}</strong></p>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-body">
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_sieve'}} / <strong>{{sieveName}}</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_real_density'}} / <strong>{{real_density}}</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_total_weight'}} / <strong>{{total_weight}} Kg</strong></p>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">{{_ 'compaction_separation_title'}}</h3>
					</div>
					<div class="panel-body">
						<fieldset>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_through'}} / <strong>{{through}} g</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_retained'}} / <strong>{{retained}} g</strong></p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<p>{{_ 'compaction_retained_percentage'}} / <strong>{{retained_percentage}} %</strong></p>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ 'compaction_field_density_title'}}</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="table-responsive">
							<table class="table table-condensed table-hover table-no-margin">
								<thead>
								<tr>
									<th class="col-md-3">{{_ 'compaction_steps'}}</th>
									<th class="col-md-1">&nbsp;</th>
									<th>{{_ 'compaction_point_1'}}</th>
									<th>{{_ 'compaction_point_2'}}</th>
									<th>{{_ 'compaction_point_3'}}</th>
									<th>{{_ 'compaction_point_4'}}</th>
									<th>{{_ 'compaction_point_5'}}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>{{_ 'compaction_mold_code'}}</th>
									<th>&nbsp;</th>
									<td>{{mold_code_p1}}</td>
									<td>{{mold_code_p2}}</td>
									<td>{{mold_code_p3}}</td>
									<td>{{mold_code_p4}}</td>
									<td>{{mold_code_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_volume'}}</th>
									<th style="text-align: center">cm³</th>
									<td>{{volume_p1}}</td>
									<td>{{volume_p2}}</td>
									<td>{{volume_p3}}</td>
									<td>{{volume_p4}}</td>
									<td>{{volume_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_water'}}</th>
									<th style="text-align: center">ml</th>
									<td>{{water_p1}}</td>
									<td>{{water_p2}}</td>
									<td>{{water_p3}}</td>
									<td>{{water_p4}}</td>
									<td>{{water_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_empty_mold_mass'}}</th>
									<th style="text-align: center">g</th>
									<td>{{empty_mold_mass_p1}}</td>
									<td>{{empty_mold_mass_p2}}</td>
									<td>{{empty_mold_mass_p3}}</td>
									<td>{{empty_mold_mass_p4}}</td>
									<td>{{empty_mold_mass_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_mold_mass'}}</th>
									<th style="text-align: center">g</th>
									<td>{{mold_mass_p1}}</td>
									<td>{{mold_mass_p2}}</td>
									<td>{{mold_mass_p3}}</td>
									<td>{{mold_mass_p4}}</td>
									<td>{{mold_mass_p5}}</td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>{{_ 'compaction_field_density'}}</th>
									<th style="text-align: center">g/cm³</th>
									<td><strong>{{field_density_p1}}</strong></td>
									<td><strong>{{field_density_p2}}</strong></td>
									<td><strong>{{field_density_p3}}</strong></td>
									<td><strong>{{field_density_p4}}</strong></td>
									<td><strong>{{field_density_p5}}</strong></td>
								</tr>
								</tfoot>
							</table>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ 'compaction_dry_field_density_title'}}</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="table-responsive">
							<table class="table table-condensed table-hover table-no-margin">
								<thead>
								<tr>
									<th class="col-md-3">{{_ 'compaction_steps'}}</th>
									<th class="col-md-1">&nbsp;</th>
									<th>{{_ 'compaction_point_1'}}</th>
									<th>{{_ 'compaction_point_2'}}</th>
									<th>{{_ 'compaction_point_3'}}</th>
									<th>{{_ 'compaction_point_4'}}</th>
									<th>{{_ 'compaction_point_5'}}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>{{_ 'compaction_container_code'}}</th>
									<th>&nbsp;</th>
									<td>{{container_code_p1}}</td>
									<td>{{container_code_p2}}</td>
									<td>{{container_code_p3}}</td>
									<td>{{container_code_p4}}</td>
									<td>{{container_code_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_empty_container_mass'}}</th>
									<th style="text-align: center">g</th>
									<td>{{empty_container_mass_p1}}</td>
									<td>{{empty_container_mass_p2}}</td>
									<td>{{empty_container_mass_p3}}</td>
									<td>{{empty_container_mass_p4}}</td>
									<td>{{empty_container_mass_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_wet_container_mass'}}</th>
									<th style="text-align: center">g</th>
									<td>{{wet_container_mass_p1}}</td>
									<td>{{wet_container_mass_p2}}</td>
									<td>{{wet_container_mass_p3}}</td>
									<td>{{wet_container_mass_p4}}</td>
									<td>{{wet_container_mass_p5}}</td>
								</tr>
								<tr>
									<th>{{_ 'compaction_dry_container_mass'}}</th>
									<th style="text-align: center">g</th>
									<td>{{dry_container_mass_p1}}</td>
									<td>{{dry_container_mass_p2}}</td>
									<td>{{dry_container_mass_p3}}</td>
									<td>{{dry_container_mass_p4}}</td>
									<td>{{dry_container_mass_p5}}</td>
								</tr>
								</tbody>
								<tfoot>
								<tr>
									<th>{{_ 'compaction_container_humidity'}}</th>
									<th style="text-align: center">%</th>
									<td><strong>{{container_humidity_p1}}</strong></td>
									<td><strong>{{container_humidity_p2}}</strong></td>
									<td><strong>{{container_humidity_p3}}</strong></td>
									<td><strong>{{container_humidity_p4}}</strong></td>
									<td><strong>{{container_humidity_p5}}</strong></td>
								</tr>
								</tfoot>
							</table>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{_ 'compaction_max_density_title'}}</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="table-responsive">
							<table class="table table-condensed table-hover table-no-margin">
								<thead>
								<tr>
									<th class="col-md-3">{{_ 'compaction_steps'}}</th>
									<th class="col-md-1">&nbsp;</th>
									<th>{{_ 'compaction_point_1'}}</th>
									<th>{{_ 'compaction_point_2'}}</th>
									<th>{{_ 'compaction_point_3'}}</th>
									<th>{{_ 'compaction_point_4'}}</th>
									<th>{{_ 'compaction_point_5'}}</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th>{{_ 'compaction_dry_density'}}</th>
									<th style="text-align: center">g/cm³</th>
									<td><strong>{{dry_density_p1}}</strong></td>
									<td><strong>{{dry_density_p2}}</strong></td>
									<td><strong>{{dry_density_p3}}</strong></td>
									<td><strong>{{dry_density_p4}}</strong></td>
									<td><strong>{{dry_density_p5}}</strong></td>
								</tr>
								<tr>
									<th>{{_ 'compaction_density'}}</th>
									<th style="text-align: center">g/cm³</th>
									<td><strong>{{density_p1}}</strong></td>
									<td><strong>{{density_p2}}</strong></td>
									<td><strong>{{density_p3}}</strong></td>
									<td><strong>{{density_p4}}</strong></td>
									<td><strong>{{density_p5}}</strong></td>
								</tr>
								</tbody>
							</table>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<fieldset>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'compaction_observations'}} / <strong>{{observations}}</strong></p>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="pull-right">
				<a href="{{pathFor 'compactionEdit'}}" class="btn btn-sm btn-default" title="{{_ 'compaction_update_title'}}">
					{{_ 'edit'}}
				</a>
			</div>
			<button class="btn btn-sm btn-danger" type="button" data-delete>
				{{_ 'delete'}}
			</button>
		</div>
	</div>
	<div class="row" style="margin-top: 10px;">
		<div class="col-md-12">
			<div class="show-on-pdf-export" data-graph-container>
				<div class="row">
					<div class="col-md-9">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="ct-chart ct-golden-section ct-compaction"></div>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						{{> compactionReference}}
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
