<template name="compaction">
    <div class="row text-center">
        <h4>{{_ 'compaction_title'}}</h4>
        <h5>{{_ 'compaction_subtitle'}}</h5>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{_ 'compaction_sample_title'}}
                    <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                </h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{_ 'compaction_sample_responsible'}} / <strong>{{sampleResponsible}}</strong></p>
                        </div>
                        <div class="col-md-12">
                            <p>{{_ 'compaction_field_date'}} / <strong>{{l fieldDate 'L'}}</strong></p>
                        </div>
                        <div class="col-md-12">
                            <p>{{_ 'compaction_sample_name'}} / <strong>{{sampleName}}</strong></p>
                        </div>
                        <div class="col-md-12">
                            <p>{{_ 'compaction_origin'}} / <strong>{{origin}}</strong></p>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{_ 'compaction_sample_title'}}
                    <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                </h3>
            </div>
            <div class="panel-body">
                <fieldset>
                    <div class="row">
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="pull-right">
            <a href="{{pathFor 'compactionEdit'}}" class="btn btn-sm btn-default" title="{{_ 'compaction_update_title'}}">
                {{_ 'edit'}}
            </a>
        </div>
        <button class="btn btn-sm btn-danger" type="button" data-delete>
            {{_ 'delete'}}
        </button>
    </div>
</template>
