<template name="compactionEdit">
    <div class="row text-center">
        <h4>{{_ 'compaction_title'}}</h4>
        <h5>{{_ 'compaction_subtitle'}}</h5>
    </div>
    <div class="row">
        {{#autoForm collection='Compactions' id='editCompactionForm' type='method-update' validation='blur' meteormethod='updateCompaction' doc=..}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{_ 'compaction_update_title'}}
                        <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                {{> afQuickField name='sampleResponsibleId'}}
                            </div>
                            <div class="col-md-6">
                                {{> afQuickField name='fieldDate'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{> afQuickField name='sampleName'}}
                            </div>
                            <div class="col-md-6">
                                {{> afQuickField name='origin'}}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{{_ 'compaction_update'}}</button>
            </div>
        {{/autoForm}}
    </div>
</template>
