<template name="compactionEdit">
    <div class="row text-center">
        <h4>{{_ 'compaction_title'}}</h4>
        <h5>{{_ 'compaction_subtitle'}}</h5>
    </div>
    <div class="row">
        {{#autoForm collection='Compactions' id='editCompactionForm' type='method-update' validation='blur' meteormethod='updateCompaction' doc=..}}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{_ 'compaction_update_title'}}
                        <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-6">
                                {{> afQuickField name='sampleResponsibleId'}}
                            </div>
                            <div class="col-md-6">
                                {{> afQuickField name='fieldDate'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{> afQuickField name='sampleName'}}
                            </div>
                            <div class="col-md-6">
                                {{> afQuickField name='origin'}}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{_ 'compaction_update_title'}}
                        <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='type'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='layers'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='hits'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='sieve'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='real_density'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='total_weight'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='through'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='retained'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='retained_percentage'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_code_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='volume_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='water_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_mold_mass_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_mass_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='field_density_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_code_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_container_mass_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='wet_container_mass_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_container_mass_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_humidity_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_density_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='density_p1'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_code_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='volume_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='water_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_mold_mass_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_mass_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='field_density_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_code_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_container_mass_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='wet_container_mass_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_container_mass_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_humidity_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_density_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='density_p2'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_code_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='volume_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='water_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_mold_mass_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_mass_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='field_density_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_code_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_container_mass_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='wet_container_mass_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_container_mass_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_humidity_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_density_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='density_p3'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_code_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='volume_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='water_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_mold_mass_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_mass_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='field_density_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_code_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_container_mass_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='wet_container_mass_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_container_mass_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_humidity_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_density_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='density_p4'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_code_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='volume_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='water_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_mold_mass_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='mold_mass_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='field_density_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_code_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='empty_container_mass_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='wet_container_mass_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_container_mass_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='container_humidity_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='dry_density_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='density_p5'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='max_density'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='max_humidity'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                {{> afQuickField name='observations'}}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{_ 'compaction_update_title'}}
                        <a class="pull-right" href="{{pathFor 'compactions'}}">{{_ 'go_back'}}</a>
                    </h3>
                </div>
                <div class="panel-body">
                    <fieldset>
                    </fieldset>
                </div>
            </div>
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">{{_ 'compaction_update'}}</button>
            </div>
        {{/autoForm}}
    </div>
</template>
