<template name="_humidityNew">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'humidity_create_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'concreteNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Humidities' id='newHumidityForm' validation='blur' type='method' meteormethod='createHumidity' doc=..}}
        {{#unless disabled}}
          <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-xs pull-right">{{_ 'humidity_create'}}</button>
          </div>
        {{/unless}}
        <fieldset disabled={{disabled}}>
          {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='incorporated' autofocus=true}}
            </div>
            <div class="col-md-6 bottom">
              <div class="row">
                <div class="col-xs-4">
                  {{> afQuickField name='hasIce'}}
                </div>
                {{#if showIce}}
                  <div class="col-xs-8">
                    {{> afQuickField name='ice' label=false}}
                  </div>
                {{else}}
                  {{> afFieldInput name='ice' type='hidden' value=''}}
                {{/if}}
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              {{_ 'humidity_aggregates'}}
            </div>
            <div class="panel-body">
              {{> afQuickField name='hSands'}}
              {{> afQuickField name='hGravels'}}
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              {{> afQuickField name='ratio'}}
            </div>
            <div class="col-lg-6 bottom">
              {{> afQuickField name='inTruck'}}
              {{> afQuickField name='flowmeterCorrection'}}
            </div>
          </div>

          <div class="row">
            <div class="col-xs-4">
              {{> afQuickField name='hasAdditionalWater'}}
            </div>
            {{#if showAdditionalWater}}
              <div class="col-xs-8">
                {{> afQuickField name='additionalWater' label=false}}
              </div>
            {{else}}
              {{> afFieldInput name='additionalWater' type='hidden' value=''}}
            {{/if}}
          </div>

          <div class="row">
            <div class="col-xs-6">
              {{> afQuickField name='hasAdditionalAdditive'}}
            </div>
          </div>
          {{#if showAdditionalAdditive}}
            <div class="row">
              <div class="col-xs-6">
                {{> afQuickField name='additionalAdditiveId' firstOption=firstOptionForSelect}}
              </div>
              <div class="col-xs-6">
                {{> afQuickField name='additionalAdditive'}}
              </div>
            </div>
          {{else}}
            {{> afQuickField name='additionalAdditiveId' type='hidden' value=''}}
            {{> afFieldInput name='additionalAdditive' type='hidden' value=''}}
          {{/if}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'humidity_create'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
