<template name="dashboard">
  <div class="jumbotron text-center">
    <h1>{{_ 'dashboard_title'}}</h1>
    <p>{{_ 'dashboard_banner'}}</p>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h3>{{_ 'samples'}}</h3>

      <a href="{{pathFor 'sampleNew'}}" class="btn btn-default btn-block">
        {{_ 'sample_new'}}
      </a>
      <a href="{{pathFor 'samples'}}" class="btn btn-default btn-block">
        {{_ 'samples'}}
      </a>
    </div>

    <div class="col-md-3">
      <h3>{{_ 'cracks'}}</h3>

      <a href="{{pathFor 'crackNew'}}" class="btn btn-default btn-block">
        {{_ 'crack_new'}}
      </a>
      <a href="{{pathFor 'cracks'}}" class="btn btn-default btn-block">
        {{_ 'cracks'}}
      </a>
    </div>

    <div class="col-md-3">
      <h3>{{_ 'formulas'}}</h3>

      <a href="{{pathFor 'formulaNew'}}" class="btn btn-default btn-block">
        {{_ 'formula_new'}}
      </a>
      <a href="{{pathFor 'formulas'}}" class="btn btn-default btn-block">
        {{_ 'formulas'}}
      </a>
    </div>

    <div class="col-md-3">
      <h3>{{_ 'materials'}}</h3>

      <a href="{{pathFor 'materials'}}" class="btn btn-default btn-block">
        {{_ 'materials'}}
      </a>
    </div>
  </div>

  <h3>{{_ 'dashboard_data_entry'}}</h3>

  <div class="row">
    <div class="col-md-3">
      <a href="{{pathFor 'customerNew'}}" class="btn btn-default btn-block">
        {{_ 'customer_new'}}
      </a>
      <a href="{{pathFor 'customers'}}" class="btn btn-default btn-block">
        {{_ 'customers'}}
      </a>

      <hr class="hidden-lg hidden-md">
    </div>

    <div class="col-md-3">
      <a href="{{pathFor 'workNew'}}" class="btn btn-default btn-block">
        {{_ 'work_new'}}
      </a>
      <a href="{{pathFor 'works'}}" class="btn btn-default btn-block">
        {{_ 'works'}}
      </a>

      <hr class="hidden-lg hidden-md">
    </div>

    <div class="col-md-3">
      <a href="{{pathFor 'truckNew'}}" class="btn btn-default btn-block">
        {{_ 'truck_new'}}
      </a>
      <a href="{{pathFor 'trucks'}}" class="btn btn-default btn-block">
        {{_ 'trucks'}}
      </a>

      <hr class="hidden-lg hidden-md">
    </div>
  </div>
</template>
