<template name="_receiptEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'receipt_update_title'}}
        {{#unless disabled}}
          <a class="pull-right" href="{{pathFor 'sampleEdit' _id=receipt.sampleId}}">{{_ 'go_back'}}</a>
        {{/unless}}
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Receipts' id='editReceiptForm' validation='blur' type='method' meteormethod='updateReceipt' doc=receipt}}

        <fieldset disabled={{disabled}}>
          <p>
            {{_ 'customer'}} /
            <strong>{{customer}}</strong>
          </p>
          <p>
            {{_ 'work'}} /
            <strong>{{work}}</strong>
          </p>
          <p>
            {{_ 'truck'}} /
            <strong>{{truck}}</strong>
          </p>
          {{> afFieldInput name='sampleId' type='hidden'}}
          {{> afFieldInput name='customerId' type='hidden'}}
          {{> afFieldInput name='workId' type='hidden'}}
          {{> afFieldInput name='truckId' type='hidden'}}
          <div class="row">
            <div class="col-md-6">
              {{> afQuickField name='number'}}
            </div>
            <div class="col-md-6">
              {{> afQuickField name='volume'}}
            </div>
          </div>
          {{> afQuickField name='surplus'}}
          {{> afQuickField name='surplusComment' class=surplusCommentClass}}
        </fieldset>
        {{#unless disabled}}
          <button type="submit" class="btn btn-primary">{{_ 'receipt_update'}}</button>
        {{/unless}}
      {{/autoForm}}
    </div>
  </div>
</template>
