<template name="customerSearch">
  <div class="form-group">
    <label class="control-label" for="customer-search">{{_ 'customer'}}</label>
    <div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
      {{> inputAutocomplete settings=settings id="customer-search" class="form-control" autocomplete="off" placeholder=placeholder}}
      {{> afFieldInput name='customerId' type='hidden'}}
    </div>
  </div>
</template>

<template name="customerPill">
  <div>{{name}}</div>
</template>

<template name="emptyCustomerPill">
  <div>{{_ 'customer_search_empty'}} <kbd>{{getFilter}}</kbd></div>
</template>
