<template name="receiptNew">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'receipt_create_title'}}
          <a class="pull-right" href="{{pathFor 'sampleEdit' _id=sample._id}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='Receipts' id='newReceiptForm' type='method' meteormethod='createReceipt'}}
          <fieldset>
            {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
            {{> customerSearch}}
            {{> workSearch}}
            {{> truckSearch}}
            {{> afQuickField name='number'}}
            {{> afQuickField name='volume'}}
            {{> afQuickField name='surplus'}}
            {{> afQuickField name='surplusComment' rows='4' label=false class='hidden'}}
          </fieldset>
          <button type="submit" class="btn btn-primary">{{_ 'receipt_create'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
