<template name="receipt">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'receipt'}}
        <a href="{{pathFor 'receiptEdit'}}" title="{{_ 'receipt_update_title'}}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <a class="pull-right" href="{{pathFor 'samples'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      <p>
        {{_ 'customer'}} /
        <strong>{{customer}}</strong>
      </p>

      <p>
        {{_ 'work'}} /
        <strong>{{work}}</strong>
      </p>

      <p>
        {{_ 'truck'}} /
        <strong>{{truck}}</strong>
      </p>

      <p>
        {{_ 'receipt_number'}} /
        <strong>{{number}}</strong>
      </p>

      <p>
        {{_ 'receipt_volume'}} /
        <strong>{{volume}} m³</strong>
      </p>

      <p>
        {{_ 'receipt_surplus'}} /
        <strong>{{surplus}}</strong>
      </p>
    </div>
  </div>
</template>
