<template name="assayNew">
  {{> assayBreadcrumb sample=sample}}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'assay_create_title'}}
        <a class="pull-right" href="{{pathFor 'humidityNew' sample_id=sample._id}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Assays' id='newAssayForm' validation='blur' type='method' meteormethod='createAssay' doc=..}}
        <fieldset>
          <div class="row">
            <div class="col-md-6">
              {{> afFieldInput name='sampleId' value=sample._id type='hidden'}}
              <div class="row">
                <div class="col-md-6">
                  {{> afQuickField name='settlement' autofocus=true}}
                </div>
                <div class="col-md-6 bottom">
                  {{> afQuickField name='extended'}}
                </div>
              </div>

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-molding">
                  <a data-toggle="collapse" href="#molding" aria-expanded="true" aria-controls="molding">
                    <h3 class="panel-title">
                      {{_ 'assay_molding'}}
                    </h3>
                  </a>
                </div>
                <div id="molding" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-molding">
                  <div class="panel-body">
                    {{> afQuickField name='designation'}}
                    {{> afQuickField name='tubes' value=3}}
                    <div class="row">
                      <div class="col-md-6">
                        {{> afQuickField name='tubeType'}}
                      </div>
                      <div class="col-md-6">
                        {{> afQuickField name='cured'}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              {{> afQuickField name='temperature'}}

              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-others">
                  <a data-toggle="collapse" href="#others" aria-expanded="true" aria-controls="others">
                    <h3 class="panel-title">
                      {{_ 'assay_others'}}
                    </h3>
                  </a>
                </div>
                <div id="others" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading-others">
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-6">
                        {{> afQuickField name='air'}}
                      </div>
                      <div class="col-md-6">
                        {{> afQuickField name='weight'}}
                      </div>
                    </div>
                    {{> afQuickField name='hardenTime'}}
                  </div>
                </div>
              </div>

              {{> afQuickField name='otherAssay'}}
            </div>
          </div>

          {{> afQuickField name='observations'}}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'assay_create'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
