<template name="fieldGranulometry">
	<div class="row text-center">
		<h4>{{_ 'field_granulometry_title'}}</h4>
		<h5>{{_ 'field_granulometry_subtitle'}}</h5>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						{{_ 'field_granulometry_title'}}
						<a class="pull-right" href="{{pathFor 'fieldGranulometries'}}">{{_ 'go_back'}}</a>
					</h3>
				</div>
				<div class="panel-body">
					<fieldset>
						<div class="row">
							<div class="col-md-6">
								<p>{{_ 'field_granulometry_responsible'}} / <strong>{{sampleResponsible}}</strong></p>
							</div>
							<div class="col-md-6">
								<p>{{_ 'field_granulometry_date'}} / <strong>{{l fieldDate 'L'}}</strong></p>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<p>{{_ 'field_granulometry_name'}} / <strong>{{sampleName}}</strong></p>
							</div>
							<div class="col-md-6">
								<p>{{_ 'field_granulometry_origin'}} / <strong>{{origin}}</strong></p>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">

					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_sampling_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="row">
											<div class="col-md-12">
												<p>{{_ 'field_granulometry_sampling'}} / <strong>{{sampling}} g</strong></p>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_humidity_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_code'}}</th>
													<td class="col-md-5">{{humidity_code}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_empty_mass'}}</th>
													<td class="col-md-5">{{humidity_empty_mass}} g</td>
												</tr>
												<tr>
													<th class="col-md-3" rowspan="2">{{_ 'field_granulometry_humidity_mass'}}</th>
													<th class="col-md-4">{{_ 'field_granulometry_humidity_wet'}}</th>
													<td class="col-md-5">{{humidity_wet}} g</td>
												</tr>
												<tr>
													<th class="col-md-4">{{_ 'field_granulometry_humidity_dry'}}</th>
													<td class="col-md-5">{{humidity_dry}} g</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_percentage'}}</th>
													<td class="col-md-5">{{humidity_percentage}} %</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_thin_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_code'}}</th>
													<td class="col-md-5">{{thin_code}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_empty_mass'}}</th>
													<td class="col-md-5">{{thin_empty_mass}} g</td>
												</tr>
												<tr>
													<th class="col-md-3" rowspan="2">{{_ 'field_granulometry_thin_mass'}}</th>
													<th class="col-md-4">{{_ 'field_granulometry_thin_before'}}</th>
													<td class="col-md-5">{{thin_before}} g</td>
												</tr>
												<tr>
													<th class="col-md-4">{{_ 'field_granulometry_thin_after'}}</th>
													<td class="col-md-5">{{thin_after}} g</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_percentage'}}</th>
													<td class="col-md-5">{{thin_percentage}} %</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_analysis_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="row">
											<div class="col-md-4">
												<p>{{_ 'field_granulometry_weight'}} / <strong>{{weight}} g</strong></p>
											</div>
										</div>
										<div class="row">
											<div class="table-responsive">
												<table class="table table-condensed table-hover table-no-margin">
													<tbody>
													<tr>
														<th style="text-align: center" colspan="3">{{_ 'field_granulometry_sieve'}}</th>
														<th style="text-align: center" colspan="3">{{_ 'field_granulometry_retained'}}</th>
														<th class="col-md-1" style="text-align: center" rowspan="2">{{_ 'field_granulometry_passed'}}</th>
														<th class="col-md-1" style="text-align: center" rowspan="2">{{_ 'field_granulometry_passed_percentage'}}</th>
													</tr>
													<tr>
														<th class="col-md-1" style="text-align: center">{{_ 'field_granulometry_sieve_mm'}}</th>
														<th class="col-md-1" style="text-align: center">{{_ 'field_granulometry_sieve_inches'}}</th>
														<th class="col-md-2" style="text-align: center">{{_ 'field_granulometry_sieve_weight'}}</th>
														<th class="col-md-2" style="text-align: center">{{_ 'field_granulometry_retained_sieve'}}</th>
														<th class="col-md-2" style="text-align: center">{{_ 'field_granulometry_retained_partial'}}</th>
														<th class="col-md-2" style="text-align: center">{{_ 'field_granulometry_retained_total'}}</th>
													</tr>
													<tr>
														<th style="text-align: center">76</th>
														<th style="text-align: center">3</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_76}}</td>
														<td style="text-align: right">{{retained_total_76}}</td>
														<td style="text-align: right">{{passed_76}}</td>
														<td style="text-align: right">{{passed_percentage_76}}</td>
													</tr>
													<tr>
														<th style="text-align: center">63</th>
														<th style="text-align: center">2 1/2</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_63}}</td>
														<td style="text-align: right">{{retained_total_63}}</td>
														<td style="text-align: right">{{passed_63}}</td>
														<td style="text-align: right">{{passed_percentage_63}}</td>
													</tr>
													<tr>
														<th style="text-align: center">51</th>
														<th style="text-align: center">2</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_51}}</td>
														<td style="text-align: right">{{retained_total_51}}</td>
														<td style="text-align: right">{{passed_51}}</td>
														<td style="text-align: right">{{passed_percentage_51}}</td>
													</tr>
													<tr>
														<th style="text-align: center">38</th>
														<th style="text-align: center">1 1/2</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_38}}</td>
														<td style="text-align: right">{{retained_total_38}}</td>
														<td style="text-align: right">{{passed_38}}</td>
														<td style="text-align: right">{{passed_percentage_38}}</td>
													</tr>
													<tr>
														<th style="text-align: center">25</th>
														<th style="text-align: center">1</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_25}}</td>
														<td style="text-align: right">{{retained_total_25}}</td>
														<td style="text-align: right">{{passed_25}}</td>
														<td style="text-align: right">{{passed_percentage_25}}</td>
													</tr>
													<tr>
														<th style="text-align: center">19</th>
														<th style="text-align: center">3/4</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_19}}</td>
														<td style="text-align: right">{{retained_total_19}}</td>
														<td style="text-align: right">{{passed_19}}</td>
														<td style="text-align: right">{{passed_percentage_19}}</td>
													</tr>
													<tr>
														<th style="text-align: center">9.5</th>
														<th style="text-align: center">3/8</th>
														<td style="text-align: center">-</td>
														<td style="text-align: center">-</td>
														<td style="text-align: right">{{retained_partial_95}}</td>
														<td style="text-align: right">{{retained_total_95}}</td>
														<td style="text-align: right">{{passed_95}}</td>
														<td style="text-align: right">{{passed_percentage_95}}</td>
													</tr>
													<tr>
														<th style="text-align: center">4.8</th>
														<th style="text-align: center">#4</th>
														<td style="text-align: right">{{sieve_weight_48}}</td>
														<td style="text-align: right">{{retained_sieve_48}}</td>
														<td style="text-align: right">{{retained_partial_48}}</td>
														<td style="text-align: right">{{retained_total_48}}</td>
														<td style="text-align: right">{{passed_48}}</td>
														<td style="text-align: right">{{passed_percentage_48}}</td>
													</tr>
													<tr>
														<th style="text-align: center">2.0</th>
														<th style="text-align: center">#10</th>
														<td style="text-align: right">{{sieve_weight_20}}</td>
														<td style="text-align: right">{{retained_sieve_20}}</td>
														<td style="text-align: right">{{retained_partial_20}}</td>
														<td style="text-align: right">{{retained_total_20}}</td>
														<td style="text-align: right">{{passed_20}}</td>
														<td style="text-align: right">{{passed_percentage_20}}</td>
													</tr>
													<tr>
														<th style="text-align: center">0.420</th>
														<th style="text-align: center">#40</th>
														<td style="text-align: right">{{sieve_weight_04}}</td>
														<td style="text-align: right">{{retained_sieve_04}}</td>
														<td style="text-align: right">{{retained_partial_04}}</td>
														<td style="text-align: right">{{retained_total_04}}</td>
														<td style="text-align: right">{{passed_04}}</td>
														<td style="text-align: right">{{passed_percentage_04}}</td>
													</tr>
													<tr>
														<th style="text-align: center">0.250</th>
														<th style="text-align: center">#60</th>
														<td style="text-align: right">{{sieve_weight_02}}</td>
														<td style="text-align: right">{{retained_sieve_02}}</td>
														<td style="text-align: right">{{retained_partial_02}}</td>
														<td style="text-align: right">{{retained_total_02}}</td>
														<td style="text-align: right">{{passed_02}}</td>
														<td style="text-align: right">{{passed_percentage_02}}</td>
													</tr>
													<tr>
														<th style="text-align: center">0.149</th>
														<th style="text-align: center">#100</th>
														<td style="text-align: right">{{sieve_weight_01}}</td>
														<td style="text-align: right">{{retained_sieve_01}}</td>
														<td style="text-align: right">{{retained_partial_01}}</td>
														<td style="text-align: right">{{retained_total_01}}</td>
														<td style="text-align: right">{{passed_01}}</td>
														<td style="text-align: right">{{passed_percentage_01}}</td>
													</tr>
													<tr>
														<th style="text-align: center">0.075</th>
														<th style="text-align: center">#200</th>
														<td style="text-align: right">{{sieve_weight_00}}</td>
														<td style="text-align: right">{{retained_sieve_00}}</td>
														<td style="text-align: right">{{retained_partial_00}}</td>
														<td style="text-align: right">{{retained_total_00}}</td>
														<td style="text-align: right">{{passed_00}}</td>
														<td style="text-align: right">{{passed_percentage_00}}</td>
													</tr>
													<tr>
														<th style="text-align: center">{{_ 'field_granulometry_background'}}</th>
														<th style="text-align: center">{{_ 'field_granulometry_pass_200'}}</th>
														<td style="text-align: right">{{sieve_weight_b}}</td>
														<td style="text-align: right">{{retained_sieve_b}}</td>
														<td style="text-align: right">{{retained_partial_b}}</td>
														<td style="text-align: right">{{retained_total_b}}</td>
														<td style="text-align: right">{{passed_b}}</td>
														<td style="text-align: right">{{passed_percentage_b}}</td>
													</tr>
													<tr>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<th style="text-align: right">{{_ 'field_granulometry_total'}}</th>
														<td style="text-align: right"><strong>{{total}}</strong></td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
														<td>&nbsp;</td>
													</tr>
													</tbody>
												</table>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-body">
					<fieldset>
						<div class="row">
							<div class="col-md-12">
								<p>{{_ 'field_granulometry_observations'}} / <strong>{{observations}}</strong></p>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="pull-right">
			<a href="{{pathFor 'fieldGranulometryEdit'}}" class="btn btn-sm btn-default" title="{{_ 'field_granulometry_update_title'}}">
				{{_ 'edit'}}
			</a>
		</div>
		<button class="btn btn-sm btn-danger" type="button" data-delete>
			{{_ 'delete'}}
		</button>
	</div>
</template>
