<template name="fieldGranulometryNew">
	<div class="row text-center">
		<h4>{{_ 'field_granulometry_title'}}</h4>
		<h5>{{_ 'field_granulometry_subtitle'}}</h5>
	</div>
	<div class="row">
		{{#autoForm collection='FieldGranulometries' id='newFieldGranulometryForm' type='method' validation='blur' meteormethod='createFieldGranulometry' doc=fieldGranulometry}}
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{_ 'field_granulometry_new'}}
								<a class="pull-right" href="{{pathFor 'fieldGranulometries'}}">{{_ 'go_back'}}</a>
							</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="col-md-3">
										{{> afQuickField name='sampleResponsibleId'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='fieldDate'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='sampleName'}}
									</div>
									<div class="col-md-3">
										{{> afQuickField name='origin'}}
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-4">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_sampling_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="row">
											<div class="col-md-12">
												{{> afQuickField name='sampling'}}
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="col-md-4 hidden">
							<div class="panel panel-default">
								<div class="panel-body">
									<fieldset>
										<div class="row">
											<div class="col-md-12">
												{{> afQuickField name='factor'}}
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_humidity_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_code'}}</th>
													<td class="col-md-5">{{> afFormGroup name='humidity_code' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_empty_mass'}}</th>
													<td class="col-md-5">{{> afFormGroup name='humidity_empty_mass' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" rowspan="2">{{_ 'field_granulometry_humidity_mass'}}</th>
													<th class="col-md-4">{{_ 'field_granulometry_humidity_wet'}}</th>
													<td class="col-md-5">{{> afFormGroup name='humidity_wet' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4">{{_ 'field_granulometry_humidity_dry'}}</th>
													<td class="col-md-5">{{> afFormGroup name='humidity_dry' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_humidity_percentage'}}</th>
													<td class="col-md-5">{{> afFormGroup name='humidity_percentage' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_thin_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_code'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_code' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_empty_mass'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_empty_mass' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" rowspan="2">{{_ 'field_granulometry_thin_mass'}}</th>
													<th class="col-md-4">{{_ 'field_granulometry_thin_before'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_before' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4">{{_ 'field_granulometry_thin_after'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_after' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_percentage'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_percentage' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_separation_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="row">
											<div class="col-md-4">
												{{> afQuickField name='weight'}}
											</div>
											<div class="col-md-4">
												{{> afQuickField name='separation_sieve'}}
											</div>
											<div class="col-md-4">
												{{> afQuickField name='separation_thin'}}
											</div>
										</div>
										<div class="row">
											<div class="col-md-12">
												{{> afQuickField name='observations'}}
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_heavy_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_heavy_weight'}}</th>
													<td class="col-md-5">{{> afFormGroup name='heavy_weight' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" style="text-align: center" colspan="2">{{_ 'field_granulometry_sieves'}}</th>
													<th class="col-md-5" style="text-align: center" rowspan="2">{{_ 'field_granulometry_heavy_retained_partial'}}</th>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">{{_ 'field_granulometry_sieve_mm'}}</th>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_sieve_inches'}}</th>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">76</th>
													<th class="col-md-4" style="text-align: center">3</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_76' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">63</th>
													<th class="col-md-4" style="text-align: center">2 1/2</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_63' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">51</th>
													<th class="col-md-4" style="text-align: center">2</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_51' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">38</th>
													<th class="col-md-4" style="text-align: center">1 1/2</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_38' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">25</th>
													<th class="col-md-4" style="text-align: center">1</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_25' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">19</th>
													<th class="col-md-4" style="text-align: center">3/4</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_19' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">12.5</th>
													<th class="col-md-4" style="text-align: center">1/2</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_12' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">9.5</th>
													<th class="col-md-4" style="text-align: center">3/8</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_95' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-3" style="text-align: center">4.8</th>
													<th class="col-md-4" style="text-align: center">#4</th>
													<td class="col-md-5">{{> afFormGroup name='retained_sieve_48' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">
										{{_ 'field_granulometry_thin_fraction_title'}}
									</h3>
								</div>
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_reduce'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_reduce' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-7" colspan="2">{{_ 'field_granulometry_thin_weight'}}</th>
													<td class="col-md-5">{{> afFormGroup name='thin_weight' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_sieves'}}</th>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_thin_sieve_weight'}}</th>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_thin_sieve_retained'}}</th>
												</tr>
												<tr>
													<th class="col-md-4" style="text-align: center"># 10</th>
													<td class="col-md-4">{{> afFormGroup name='sieve_weight_20' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='retained_sieve_20' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4" style="text-align: center"># 40</th>
													<td class="col-md-4">{{> afFormGroup name='sieve_weight_04' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='retained_sieve_04' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4" style="text-align: center"># 100</th>
													<td class="col-md-4">{{> afFormGroup name='sieve_weight_01' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='retained_sieve_01' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_pass_100'}}</th>
													<td class="col-md-4">{{> afFormGroup name='sieve_weight_p' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='retained_sieve_p' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-body">
									<fieldset>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_thin_ver_ret'}}</th>
													<td class="col-md-4">{{> afFormGroup name='thin_ver_ret' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='thin_ver_ret_label' label=false}}</td>
												</tr>
												<tr>
													<th class="col-md-4" style="text-align: center">{{_ 'field_granulometry_thin_ver_pass'}}</th>
													<td class="col-md-4">{{> afFormGroup name='thin_ver_pass' label=false}}</td>
													<td class="col-md-4">{{> afFormGroup name='thin_ver_pass_label' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
										<div class="table-responsive">
											<table class="table table-condensed table-hover table-no-margin">
												<tbody>
												<tr>
													<th class="col-md-12" colspan="3" style="text-align: center">{{_ 'field_granulometry_thin_pass_title'}}</th>
												</tr>
												<tr>
													<th class="col-md-8" colspan="2">{{_ 'field_granulometry_thin_pass_200'}}</th>
													<td class="col-md-4">{{> afFormGroup name='thin_pass_200' label=false}}</td>
												</tr>
												</tbody>
											</table>
										</div>
									</fieldset>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">
								{{_ 'field_granulometry_analysis_title'}}
							</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="row">
									<div class="table-responsive">
										<table class="table table-condensed table-hover table-no-margin">
											<tbody>
											<tr>
												<th style="text-align: center" colspan="3">{{_ 'field_granulometry_sieve'}}</th>
												<th style="text-align: center" colspan="3">{{_ 'field_granulometry_retained'}}</th>
												<th style="text-align: center" rowspan="2">{{_ 'field_granulometry_passed'}}</th>
												<th style="text-align: center" rowspan="2">{{_ 'field_granulometry_passed_percentage'}}</th>
											</tr>
											<tr>
												<th style="text-align: center">{{_ 'field_granulometry_sieve_mm'}}</th>
												<th style="text-align: center">{{_ 'field_granulometry_sieve_inches'}}</th>
												<th style="text-align: center">{{_ 'field_granulometry_sieve_weight'}}</th>
												<th style="text-align: center">{{_ 'field_granulometry_retained_sieve'}}</th>
												<th style="text-align: center">{{_ 'field_granulometry_retained_partial'}}</th>
												<th style="text-align: center">{{_ 'field_granulometry_retained_total'}}</th>
											</tr>
											<tr>
												<th style="text-align: center">76</th>
												<th style="text-align: center">3</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='a_3'}}</td>
												<td>{{> afFieldInput name='a_4'}}</td>
												<td>{{> afFieldInput name='a_5'}}</td>
												<td>{{> afFieldInput name='a_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">63</th>
												<th style="text-align: center">2 1/2</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='b_3'}}</td>
												<td>{{> afFieldInput name='b_4'}}</td>
												<td>{{> afFieldInput name='b_5'}}</td>
												<td>{{> afFieldInput name='b_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">51</th>
												<th style="text-align: center">2</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='c_3'}}</td>
												<td>{{> afFieldInput name='c_4'}}</td>
												<td>{{> afFieldInput name='c_5'}}</td>
												<td>{{> afFieldInput name='c_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">38</th>
												<th style="text-align: center">1 1/2</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='d_3'}}</td>
												<td>{{> afFieldInput name='d_4'}}</td>
												<td>{{> afFieldInput name='d_5'}}</td>
												<td>{{> afFieldInput name='d_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">25</th>
												<th style="text-align: center">1</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='e_3'}}</td>
												<td>{{> afFieldInput name='e_4'}}</td>
												<td>{{> afFieldInput name='e_5'}}</td>
												<td>{{> afFieldInput name='e_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">19</th>
												<th style="text-align: center">3/4</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='f_3'}}</td>
												<td>{{> afFieldInput name='f_4'}}</td>
												<td>{{> afFieldInput name='f_5'}}</td>
												<td>{{> afFieldInput name='f_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">12.5</th>
												<th style="text-align: center">1/2</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='g_3'}}</td>
												<td>{{> afFieldInput name='g_4'}}</td>
												<td>{{> afFieldInput name='g_5'}}</td>
												<td>{{> afFieldInput name='g_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">9.5</th>
												<th style="text-align: center">3/8</th>
												<td style="text-align: center">-</td>
												<td style="text-align: center">-</td>
												<td>{{> afFieldInput name='h_3'}}</td>
												<td>{{> afFieldInput name='h_4'}}</td>
												<td>{{> afFieldInput name='h_5'}}</td>
												<td>{{> afFieldInput name='h_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">4.8</th>
												<th style="text-align: center">#4</th>
												<td>{{> afFieldInput name='i_1'}}</td>
												<td>{{> afFieldInput name='i_2'}}</td>
												<td>{{> afFieldInput name='i_3'}}</td>
												<td>{{> afFieldInput name='i_4'}}</td>
												<td>{{> afFieldInput name='i_5'}}</td>
												<td>{{> afFieldInput name='i_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">2.0</th>
												<th style="text-align: center">#10</th>
												<td>{{> afFieldInput name='j_1'}}</td>
												<td>{{> afFieldInput name='j_2'}}</td>
												<td>{{> afFieldInput name='j_3'}}</td>
												<td>{{> afFieldInput name='j_4'}}</td>
												<td>{{> afFieldInput name='j_5'}}</td>
												<td>{{> afFieldInput name='j_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">0.420</th>
												<th style="text-align: center">#40</th>
												<td>{{> afFieldInput name='k_1'}}</td>
												<td>{{> afFieldInput name='k_2'}}</td>
												<td>{{> afFieldInput name='k_3'}}</td>
												<td>{{> afFieldInput name='k_4'}}</td>
												<td>{{> afFieldInput name='k_5'}}</td>
												<td>{{> afFieldInput name='k_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">0.149</th>
												<th style="text-align: center">#100</th>
												<td>{{> afFieldInput name='l_1'}}</td>
												<td>{{> afFieldInput name='l_2'}}</td>
												<td>{{> afFieldInput name='l_3'}}</td>
												<td>{{> afFieldInput name='l_4'}}</td>
												<td>{{> afFieldInput name='l_5'}}</td>
												<td>{{> afFieldInput name='l_6'}}</td>
											</tr>
											<tr>
												<th style="text-align: center">0.075</th>
												<th style="text-align: center">#200</th>
												<td>{{> afFieldInput name='m_1'}}</td>
												<td>{{> afFieldInput name='m_2'}}</td>
												<td>{{> afFieldInput name='m_3'}}</td>
												<td>{{> afFieldInput name='m_4'}}</td>
												<td>{{> afFieldInput name='m_5'}}</td>
												<td>{{> afFieldInput name='m_6'}}</td>
											</tr>
											<tr>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<th style="text-align: right">{{_ 'field_granulometry_total'}}</th>
												<td>{{> afFormGroup name='total' label=false}}</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
												<td>&nbsp;</td>
											</tr>
											</tbody>
										</table>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
			<div class="pull-right">
				<button type="submit" class="btn btn-primary">{{_ 'field_granulometry_create'}}</button>
			</div>
		{{/autoForm}}
	</div>
</template>
