<template name="menuConfig">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li class="{{activeRouteClass 'responsibleIndex' 'responsible' 'responsibleNew' 'responsibleEdit'}}">
        <a href="{{pathFor 'responsibleIndex'}}">{{_ 'responsible_plural'}}</a>
      </li>
      <li class="{{activeRouteClass 'customers' 'customer' 'customerNew' 'customerEdit'}}">
        <a href="{{pathFor 'customers'}}">{{_ 'customers'}}</a>
      </li>
      <li class="{{activeRouteClass 'works' 'work' 'workNew' 'workEdit'}}">
        <a href="{{pathFor 'works'}}">{{_ 'works'}}</a>
      </li>
      <li class="{{activeRouteClass 'plants' 'plant' 'plantNew' 'plantEdit'}}">
        <a href="{{pathFor 'plants'}}">{{_ 'plants'}}</a>
      </li>
      <li class="{{activeRouteClass 'trucks' 'truck' 'truckNew' 'truckEdit'}}">
        <a href="{{pathFor 'trucks'}}">{{_ 'trucks'}}</a>
      </li>
      <li class="{{activeRouteClass 'materials' 'material' 'materialNew' 'materialEdit'}}">
        <a href="{{pathFor 'materials'}}">{{_ 'materials'}}</a>
      </li>
      <li class="{{activeRouteClass 'formulas' 'formula' 'formulaNew' 'formulaEdit'}}">
        <a href="{{pathFor 'formulas'}}">{{_ 'formulas'}}</a>
      </li>
      <li class="{{activeRouteClass 'settings' 'setting' 'settingNew' 'settingEdit'}}">
        <a href="{{pathFor 'settings'}}">{{_ 'settings'}}</a>
      </li>
    </ul>
  </li>
</template>
