<template name="customers">
  {{#if customers.count}}
    {{> customersList}}
  {{else}}
    {{> customersEmpty}}
  {{/if}}
</template>

<template name="customersList">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'customers'}}
          <a class="pull-right" href="{{pathFor 'root'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <a class="btn btn-xs btn-default pull-right" href="{{pathFor 'customerNew'}}">{{_ 'customer_new'}}</a>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{{_ 'customer_name'}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          {{#each customers}}
            <tr class="visible-on-hover-parent">
              <td><a href="{{pathFor 'customer'}}">{{name}}</a></td>
              <td class="text-right">
                <a class="btn btn-xs btn-default visible-on-hover" href="{{pathFor 'customerCracks'}}" title="{{_ 'samples'}}">
                  {{_ 'samples'}}
                </a>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
        <a class="btn btn-primary" href="{{pathFor 'customerNew'}}">{{_ 'customer_new'}}</a>
      </div>
    </div>
  </div>
</template>
