<template name="dashboard">
  <div class="jumbotron text-center">
    <h1>{{_ 'dashboard_title'}}</h1>
    <p>{{_ 'dashboard_banner'}}</p>
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>{{_ 'samples'}}</h3>

      <a href="{{pathFor 'sampleNew'}}" class="btn btn-default btn-block">
        {{_ 'sample_new'}}
      </a>
      <a href="{{pathFor 'samples'}}" class="btn btn-default btn-block">
        {{_ 'samples'}}
      </a>
    </div>

    <div class="col-lg-3">
      <h3>{{_ 'cracks'}}</h3>

      <a href="{{pathFor 'cracks'}}" class="btn btn-default btn-block">
        {{_ 'cracks'}}
        {{#if overdueCracks}}
          <span class="badge" title="{{_ 'crack_overdue' count=overdueCracks}}">{{overdueCracks}}</span>
        {{/if}}
      </a>
    </div>

    <div class="col-lg-3">
      <h3>{{_ 'granulometries'}}</h3>

      <a href="{{pathFor 'granulometryNew'}}" class="btn btn-default btn-block">
        {{_ 'granulometry_new'}}
      </a>
      <a href="{{pathFor 'granulometries'}}" class="btn btn-default btn-block">
        {{_ 'granulometries'}}
      </a>
    </div>

    {{#if isInRole 'admin'}}
      <div class="col-lg-3">
        <h3>{{_ 'formulas'}}</h3>

        <a href="{{pathFor 'formulaNew'}}" class="btn btn-default btn-block">
          {{_ 'formula_new'}}
        </a>
        <a href="{{pathFor 'formulas'}}" class="btn btn-default btn-block">
          {{_ 'formulas'}}
        </a>
      </div>
    {{/if}}
  </div>

  <div class="row">
    <div class="col-lg-3">
      <h3>{{_ 'maintenances'}}</h3>
      <a href="{{pathFor 'maintenanceNew'}}" class="btn btn-default btn-block">
        {{_ 'maintenance_new'}}
      </a>
      <a href="{{pathFor 'maintenances'}}" class="btn btn-default btn-block">
        {{_ 'maintenances'}}
        {{#if nextToOverdueMaintenances}}
          <span class="label {{#if overdueMaintenances}}label-danger{{else}}label-warning{{/if}}">
            <span class="glyphicon glyphicon-warning-sign"></span>
          </span>
        {{/if}}
      </a>
    </div>
  </div>

  {{#if isInRole 'admin'}}
    <h3>{{_ 'dashboard_data_entry'}}</h3>

    <div class="row">
      <div class="col-lg-2">
        <a href="{{pathFor 'customerNew'}}" class="btn btn-default btn-block">
          {{_ 'customer_new'}}
        </a>
        <a href="{{pathFor 'customers'}}" class="btn btn-default btn-block">
          {{_ 'customers'}}
        </a>

        <hr class="hidden-lg">
      </div>

      <div class="col-lg-2">
        <a href="{{pathFor 'workNew'}}" class="btn btn-default btn-block">
          {{_ 'work_new'}}
        </a>
        <a href="{{pathFor 'works'}}" class="btn btn-default btn-block">
          {{_ 'works'}}
        </a>

        <hr class="hidden-lg">
      </div>

      <div class="col-lg-2">
        <a href="{{pathFor 'truckNew'}}" class="btn btn-default btn-block">
          {{_ 'truck_new'}}
        </a>
        <a href="{{pathFor 'trucks'}}" class="btn btn-default btn-block">
          {{_ 'trucks'}}
        </a>

        <hr class="hidden-lg">
      </div>

      <div class="col-lg-2">
        <a href="{{pathFor 'plantNew'}}" class="btn btn-default btn-block">
          {{_ 'plant_new'}}
        </a>
        <a href="{{pathFor 'plants'}}" class="btn btn-default btn-block">
          {{_ 'plants'}}
        </a>

        <hr class="hidden-lg">
      </div>

      <div class="col-lg-2">
        <a href="{{pathFor 'responsibleNew'}}" class="btn btn-default btn-block">
          {{_ 'responsible_new'}}
        </a>
        <a href="{{pathFor 'responsibleIndex'}}" class="btn btn-default btn-block">
          {{_ 'responsible_plural'}}
        </a>

        <hr class="hidden-lg">
      </div>

      <div class="col-lg-2">
        <a href="{{pathFor 'materials'}}" class="btn btn-default btn-block">
          {{_ 'materials'}}
        </a>
      </div>
    </div>
  {{/if}}
</template>
