<template name="customOptionsEdit">
{{#autoForm collection='Settings' id='editSettingForm' type='method-update' meteormethod='updateCustomOptions' doc=..}}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_custom_options'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                            {{> afQuickField name='customOptions.receiptNumberLabel' }}
                            {{> afQuickField name='customOptions.copyReceiptNumberFromSample' }}
                            {{> afQuickField name='customOptions.showStructure' }}
                            {{> afQuickField name='customOptions.showAirGraphic' }}
                            {{> afQuickField name='customOptions.showDump' }}
                            {{> afQuickField name='customOptions.showPavement' }}
                            {{> afQuickField name='customOptions.showCanals3And4' }}
                            </fieldset>

                            <button type="submit" class="btn btn-sm btn-default pull-right">{{_ 'setting_custom_options_save_button'}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/autoForm}}
</template>
