<template name="digitalSignatureEdit">
{{#autoForm collection='Settings' id='editSettingForm' type='method-update' meteormethod='updateDigitalSignature' doc=..}}
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                {{> afQuickField name='digitalSignature.enabled' }}
                            </fieldset>

                            <button type="submit" class="btn btn-sm btn-default pull-right">{{_ 'setting_pdf_save_button'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf_pdfs'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                {{> afQuickField name='digitalSignature.pdfSample'}}
                                {{> afQuickField name='digitalSignature.pdfProvidedCracks' }}
                                {{> afQuickField name='digitalSignature.pdfStatsDeviation' }}
                                {{> afQuickField name='digitalSignature.pdfMixtures' }}
                                {{> afQuickField name='digitalSignature.pdfCustomerCracks' }}
                                {{> afQuickField name='digitalSignature.pdfGranulometries' }}
                                {{> afQuickField name='digitalSignature.pdfHardenedConcreteEvolution' }}
                                {{> afQuickField name='digitalSignature.pdfMaintenance' }}
                                {{> afQuickField name='digitalSignature.pdfMaintenanceCheckList' }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf_clarification'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                {{> afQuickField name='digitalSignature.fontTitle' }}
                                {{> afQuickField name='digitalSignature.fontSubtitle' }}
                                {{> afQuickField name='digitalSignature.spaceBetweenTitles' }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf_digital_signature'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <p class="row">{{> afQuickField name='digitalSignature.signatureImageId' label=false }}</p>
                                {{> afQuickField name='digitalSignature.signatureImageWidth' }}
                                {{> afQuickField name='digitalSignature.signatureImageHeight' }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf_titles'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                {{> afQuickField name='digitalSignature.title1' label=false }}
                                {{> afQuickField name='digitalSignature.title2' label=false }}
                                {{> afQuickField name='digitalSignature.title3' label=false }}
                                {{> afQuickField name='digitalSignature.title4' label=false }}
                                {{> afQuickField name='digitalSignature.title5' label=false }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{_ 'setting_pdf_subtitles'}}
                            </h3>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                {{> afQuickField name='digitalSignature.subtitle1' label=false }}
                                {{> afQuickField name='digitalSignature.subtitle2' label=false }}
                                {{> afQuickField name='digitalSignature.subtitle3' label=false }}
                                {{> afQuickField name='digitalSignature.subtitle4' label=false }}
                                {{> afQuickField name='digitalSignature.subtitle5' label=false }}
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/autoForm}}
</template>

<template name="digitalSignatureImagePreview">
    <img class="col-md-4 img-rounded img-responsive" src="{{file.url store='images'}}">
</template>
<template name="digitalSignatureSelectBtn">
    <button type="button" class="btn btn-sm btn-default af-select-file js-af-select-file">
        {{_ 'setting_pdf_upload_image_button'}}
        <input type="file" class="js-file"  accept="image/*">
    </button>
</template>
<template name="digitalSignatureRemoveBtn">
    <button type="button" class="btn btn-sm btn-default pull-right js-af-remove-file">{{_ 'setting_pdf_remove_image_button'}}</button>
</template>