<template name="settingNew">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'setting_create_title'}}
          <a class="pull-right" href="{{pathFor 'criteria'}}" data-cancel>{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        {{#autoForm collection='Settings' id='newSettingForm' type='method' meteormethod='createSetting'}}
          <fieldset>
            {{> afQuickField name='efficiencyDesirable'}}
            {{> afQuickField name='efficiencyDesirableLow'}}
            {{#if show3daysResistanceOptions}}
              {{> afQuickField name='resistance3Days'}}
            {{/if}}
            {{> afQuickField name='resistance7Days'}}
          </fieldset>

          <button type="submit" class="btn btn-primary">{{_ 'setting_create'}}</button>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
