<template name="setting">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{_ 'setting'}}
          <a class="pull-right" href="{{pathFor 'criteria'}}">{{_ 'go_back'}}</a>
        </h3>
      </div>
      <div class="panel-body">
        <p>
          {{_ 'setting_efficiency_desirable'}} /
          <strong>{{efficiencyDesirable}}</strong>
        </p>
        <p>
          {{_ 'setting_efficiency_desirable_low'}} /
          <strong>{{efficiencyDesirableLow}}</strong>
        </p>
        {{#if show3daysResistanceOptions}}
          <p>
            {{_ 'setting_resistance_3_days'}} /
            <strong>{{resistance3Days}}</strong>
          </p>
        {{/if}}
        <p>
          {{_ 'setting_resistance_7_days'}} /
          <strong>{{resistance7Days}}</strong>
        </p>

        <a href="{{pathFor 'settingEdit'}}" class="btn btn-sm btn-default pull-right" title="{{_ 'setting_update_title'}}">
          {{_ 'edit'}}
        </a>
      </div>
    </div>
  </div>
</template>
