<template name="graphics">
  <div class="page-header text-center">
    <h1>{{_ 'graphics'}}</h1>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h3>{{_ 'graphic_fresh_concrete'}}</h3>

      <a href="{{pathFor 'graphicFreshConcreteConsistency'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_consistency'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteTemperature'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_temperature'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteTemperatureComparison'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_temperature_comparison'}}
      </a>
    </div>
    <div class="col-lg-4">
      <h3>{{_ 'graphic_hardened_concrete'}}</h3>

      <a href="{{pathFor 'graphicHardenedConcreteResistance'}}" class="btn btn-default btn-block">
        {{_ 'graphic_hardened_concrete_resistance'}}
      </a>
    </div>

    <div class="col-lg-4">
      <h3>{{_ 'graphic_aggregates'}}</h3>

      <a href="{{pathFor 'graphicAggregateFineness'}}" class="btn btn-default btn-block">
        {{_ 'graphic_aggregate_fineness'}}
      </a>
    </div>
  </div>
</template>
