<template name="graphics">
  <div class="jumbotron text-center">
    <h2>{{_ 'graphics'}}</h2>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <h3>{{_ 'graphic_fresh_concrete'}}</h3>

      <a href="{{pathFor 'graphicFreshConcreteConsistency'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_consistency'}}
      </a>
      <a href="{{pathFor 'graphicFreshConcreteTemperature'}}" class="btn btn-default btn-block">
        {{_ 'graphic_fresh_concrete_temperature'}}
      </a>
    </div>
  </div>
</template>
