<template name="mixtureEdit">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{_ 'mixture_update_title'}}
        <a class="pull-right" href="{{pathFor 'mixture'}}">{{_ 'go_back'}}</a>
      </h3>
    </div>
    <div class="panel-body">
      {{#autoForm collection='Mixtures' id='editMixtureForm' type='method-update' validation='blur' meteormethod='updateMixture' doc=..}}
        <fieldset>
          {{>afQuickField name='name'}}

          {{#each granulometries}}
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="granulometry-aggregate-{{index}}">
                    {{_ 'mixture_granulometry_id'}}
                  </label>
                  <select class="form-control granulometry-aggregate" name="granulometry_aggregate_{{index}}" id="granulometry-aggregate-{{index}}">
                    {{#each aggregates}}
                      <optgroup label="{{optgroup}}">
                        {{#each options}}
                          <option value="{{value}}" selected="{{selected ../..}}">{{label}}</option>
                        {{/each}}
                      </optgroup>
                    {{/each}}
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                {{> granulometrySearch name=granulometrySearchName index=index granulometry=granulometry}}
              </div>
              <div class="col-md-4">
                {{> afQuickField name=percentageName data-percentage=''}}
              </div>
            </div>
          {{/each}}
        </fieldset>
        <button type="submit" class="btn btn-primary">{{_ 'mixture_update'}}</button>
      {{/autoForm}}
    </div>
  </div>
</template>
