<template name="mixtureReference">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{_ 'graphic_references'}}</h3>
    </div>
    <div class="panel-body">
      <div class="ct-chart ct-slim">
        <svg width="100%" height="120px" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <g class="ct-labels">
            <foreignObject x="100" y="10" width="200" height="25">
              <span class="ct-label ct-vertical text-left" xmlns="http://www.w3.org/1999/xhtml">
                {{_ 'mixture'}}
              </span>
            </foreignObject>
            {{#if showLimitCurves}}
              <foreignObject x="100" y="35" width="200" height="25">
                <span class="ct-label ct-vertical text-left" xmlns="http://www.w3.org/1999/xhtml">
                  {{_ 'granulometry_curve'}} A
                  ({{_ 'granulometry_nominal_size'}} {{showLimitCurves}})
                </span>
              </foreignObject>
              <foreignObject x="100" y="60" width="200" height="25">
                <span class="ct-label ct-vertical text-left" xmlns="http://www.w3.org/1999/xhtml">
                  {{_ 'granulometry_curve'}} B
                  ({{_ 'granulometry_nominal_size'}} {{showLimitCurves}})
                </span>
              </foreignObject>
              <foreignObject x="100" y="85" width="200" height="25">
                <span class="ct-label ct-vertical text-left" xmlns="http://www.w3.org/1999/xhtml">
                  {{_ 'granulometry_curve'}} C
                  ({{_ 'granulometry_nominal_size'}} {{showLimitCurves}})
                </span>
              </foreignObject>
            {{/if}}
          </g>
          <g class="ct-series ct-series-a only-line">
            <line class="ct-line" x1="10" y1="20" x2="75" y2="20" />
          </g>
          {{#if showLimitCurves}}
            <g class="ct-series ct-series-b only-line dotted-a">
              <line class="ct-line" x1="10" y1="45" x2="75" y2="45" />
            </g>
            <g class="ct-series ct-series-c only-line dotted-a">
              <line class="ct-line" x1="10" y1="70" x2="75" y2="70" />
            </g>
            <g class="ct-series ct-series-d only-line dotted-a">
              <line class="ct-line" x1="10" y1="95" x2="75" y2="95" />
            </g>
          {{/if}}
        </svg>
      </div>
    </div>
  </div>
</template>
