<template name="menuConfig">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-cog"></span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li class="{{activeRouteClass 'customers' 'customer' 'customerNew' 'customerEdit'}}">
        <a href="{{pathFor 'customers'}}">{{_ 'customers'}}</a>
      </li>
      <li class="{{activeRouteClass 'providers' 'provider' 'providerNew' 'providerEdit'}}">
        <a href="{{pathFor 'providers'}}">{{_ 'providers'}}</a>
      </li>
      <li class="{{activeRouteClass 'plants' 'plant' 'plantNew' 'plantEdit'}}">
        <a href="{{pathFor 'plants'}}">{{_ 'plants'}}</a>
      </li>
      <li class="{{activeRouteClass 'responsibleIndex' 'responsible' 'responsibleNew' 'responsibleEdit'}}">
        <a href="{{pathFor 'responsibleIndex'}}">{{_ 'responsible_plural'}}</a>
      </li>
      <li class="{{activeRouteClass 'works' 'work' 'workNew' 'workEdit'}}">
        <a href="{{pathFor 'works'}}">{{_ 'works'}}</a>
      </li>
      <li class="{{activeRouteClass 'trucks' 'truck' 'truckNew' 'truckEdit'}}">
        <a href="{{pathFor 'trucks'}}">{{_ 'trucks'}}</a>
      </li>
      <li class="{{activeRouteClass 'materials' 'material' 'materialNew' 'materialEdit'}}">
        <a href="{{pathFor 'materials'}}">{{_ 'materials'}}</a>
      </li>
      <li class="{{activeRouteClass 'formulas' 'formula' 'formulaNew' 'formulaEdit'}}">
        <a href="{{pathFor 'formulas'}}">{{_ 'formulas'}}</a>
      </li>
      <li class="{{activeRouteClass 'presses' 'press' 'pressNew' 'pressEdit'}}">
        <a href="{{pathFor 'presses'}}">{{_ 'presses'}}</a>
      </li>
      <li class="{{activeRouteClass 'parameters'}}">
        <a href="{{pathFor 'parameters'}}">{{_ 'strengths'}}</a>
      </li>
      <li class="{{activeRouteClass 'criteria' 'strengthsCriteria' 'strengthCriteria' 'strengthCriteriaEdit' 'settlementsCriteria' 'settlementCriteria' 'settlementCriteriaEdit'}}">
        <a href="{{pathFor 'criteria'}}">{{_ 'criteria'}}</a>
      </li>
      <li class="{{activeRouteClass 'containers' 'container' 'containerNew' 'containerEdit'}}">
        <a href="{{pathFor 'containers'}}">{{_ 'containers'}}</a>
      </li>
      {{#if isInRole 'monitor'}}
        <li class="{{activeRouteClass 'instruments' 'instrument' 'instrumentNew' 'instrumentEdit'}}">
          <a href="{{pathFor 'instruments'}}">{{_ 'instruments'}}</a>
        </li>
      {{/if}}
      {{#with settings }}
          {{#if digitalSignature }}
              {{#if digitalSignature.menuEnabled }}
              <li class="{{activeRouteClass 'digitalSignature' 'digitalSignatureEdit'}}">
                  <a href="{{pathFor 'digitalSignature' data=this }}">{{_ 'setting_pdf_digital_signature'}}</a>
              </li>
              {{/if}}
          {{/if}}
      {{/with}}
    </ul>
  </li>
</template>
